<div class="slider-loader w-full h-full  left-0 top-0  z-20 py-4">

    <div class="w-full grid-loader h-full grid grid-flow-col gap-2 py-4" >
        <div class="w-full h-full">
          <div class="w-full aspect-square load-animate pb-2">
            image
          </div>
          <div class="rounded-full w-[80%] h-8 load-animate  my-2 mx-auto">quick </div>
          <div class="rounded-full w-[60%] h-6 load-animate mb-px ml-2">title </div>
          <div class="rounded-full w-[60%] h-6 load-animate mb-px ml-2">discption </div>
          <div class="rounded-full w-[40%] h-6 load-animate mb-px ml-2">price </div>
        </div>

      
        <div class="w-full h-full">
          <div class="w-full aspect-square load-animate pb-2">
            image
          </div>
           <div class="rounded-full w-[80%] h-8 load-animate  my-2 mx-auto">quick </div>
          <div class="rounded-full w-[60%] h-6 load-animate mb-px mt-2 ml-2">title </div>
          <div class="rounded-full w-[60%] h-6 load-animate mb-px ml-2">discption </div>
          <div class="rounded-full w-[40%] h-6 load-animate mb-px ml-2">price </div>
        </div>
        <div class="w-full h-full hidden md:block">
          <div class="w-full aspect-square load-animate pb-2">
            image
          </div>
           <div class="rounded-full w-[80%] h-8 load-animate  my-2 mx-auto">quick </div>
          <div class="rounded-full w-[60%] h-6 load-animate mb-px mt-2 ml-2">title </div>
          <div class="rounded-full w-[60%] h-6 load-animate mb-px ml-2">discption </div>
          <div class="rounded-full w-[40%] h-6 load-animate mb-px ml-2">price </div>
        </div>
      
        <div class="w-full h-full hidden lg:block">
          <div class="w-full aspect-square load-animate pb-2">
            image
          </div>
           <div class="rounded-full w-[80%] h-8 load-animate  my-2 mx-auto">quick </div>
          <div class="rounded-full w-[60%] h-6 load-animate mb-px mt-2 ml-2">title </div>
          <div class="rounded-full w-[60%] h-6 load-animate mb-px ml-2">discption </div>
          <div class="rounded-full w-[40%] h-6 load-animate mb-px ml-2">price </div>
        </div>
      
        <div class="w-full h-full hidden xl:block">
          <div class="w-full aspect-square load-animate pb-2">
            image
          </div>
           <div class="rounded-full w-[80%] h-8 load-animate  my-2 mx-auto">quick </div>
          <div class="rounded-full w-[60%] h-6 load-animate mb-px mt-2 ml-2">title </div>
          <div class="rounded-full w-[60%] h-6 load-animate mb-px ml-2">discption </div>
          <div class="rounded-full w-[40%] h-6 load-animate mb-px ml-2">price </div>
        </div>
    </div>
   
</div> 
