<style>
  
  ol > li:before {
    
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    
  }
    
</style>

<div id="discounts-how-to-use" class="rounded-md border-solid border-2">
  <h4 class="text-xl font-bebas xl:px-8 px-5 pt-5 pb-4 border-b-2 border-solid">How To Use OddBalls Discount Codes</h4>
  <ol class="grid gap-y-2 xl:px-8 px-5 py-5">
    <li class="grid grid-cols-5 md:grid-cols-10">
      <div class="border-black border-solid col-span-1 flex items-center">
        <span class="box-shadow border-2 border-black border-solid col-span-1 flex font-semibold items-center justify-center py-1 px-2.5 rounded-md text-white bg-magenta-500">1</span>
      </div>
      <div class="col-span-4 md:col-span-9 text-sm md:text-base flex items-center">
        <span>Click the blue Get Code button and copy the code.</span>
      </div>
    </li>
    <li class="grid grid-cols-5 md:grid-cols-10">
      <div class="border-black border-solid col-span-1 flex items-center">
        <span class="box-shadow border-2 border-black border-solid col-span-1 flex font-semibold items-center justify-center py-1 px-2.5 rounded-md text-white bg-cyan-500">2</span>
      </div>
      <div class="col-span-4 md:col-span-9 text-sm md:text-base flex items-center">
        <span>Double check the offer and any terms here first.</span>
      </div>
    </li>
    <li class="grid grid-cols-5 md:grid-cols-10">
      <div class="border-black border-solid col-span-1 flex items-center">
        <span class="box-shadow border-2 border-black border-solid col-span-1 flex font-semibold items-center justify-center py-1 px-2.5 rounded-md text-white bg-magenta-500">3</span>
      </div>
      <div class="col-span-4 md:col-span-9 text-sm md:text-base flex items-center">
        <span>Shop! Add items to your basket and head to the checkout.</span>
      </div>
    </li>
    <li class="grid grid-cols-5 md:grid-cols-10">
      <div class="border-black border-solid col-span-1 flex items-center">
        <span class="box-shadow border-2 border-black border-solid col-span-1 flex font-semibold items-center justify-center py-1 px-2.5 rounded-md text-white bg-cyan-500">4</span>
      </div>
      <div class="col-span-4 md:col-span-9 text-sm md:text-base flex items-center">
        <span>Paste the code in the discounts box and apply before you pay.</span>
      </div>
    </li>
    <li class="grid grid-cols-5 md:grid-cols-10">
      <div class="border-black border-solid col-span-1 flex items-center">
        <span class="box-shadow border-2 border-black border-solid col-span-1 flex font-semibold items-center justify-center py-1 px-2.5 rounded-md text-white bg-magenta-500">5</span>
      </div>
      <div class="col-span-4 md:col-span-9 text-sm md:text-base flex items-center">
        <span>Enjoy your discounted OddBalls items!</span>
      </div>
    </li>
  </ol>  
</div>
