<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Twinkle+Star&display=swap" rel="stylesheet">
    <div id="gs-wrapper" class="relative" style="min-height:90vh">
        <div id="gs-image" class="md:hidden">
            <img src="https://cdn.shopify.com/s/files/1/0353/7249/files/XmasList-Mobile.png?v=1733392232;width=2000" alt="" srcset="https://cdn.shopify.com/s/files/1/0353/7249/files/XmasList-Mobile.png?v=1733392232;width=200 200w, https://cdn.shopify.com/s/files/1/0353/7249/files/XmasList-Mobile.png?v=1733392232;width=300 300w, https://cdn.shopify.com/s/files/1/0353/7249/files/XmasList-Mobile.png?v=1733392232;width=400 400w, https://cdn.shopify.com/s/files/1/0353/7249/files/XmasList-Mobile.png?v=1733392232;width=600 600w, https://cdn.shopify.com/s/files/1/0353/7249/files/XmasList-Mobile.png?v=1733392232;width=800 800w, https://cdn.shopify.com/s/files/1/0353/7249/files/XmasList-Mobile.png?v=1733392232;width=1000 1000w, https://cdn.shopify.com/s/files/1/0353/7249/files/XmasList-Mobile.png?v=1733392232;width=1200 1200w, https://cdn.shopify.com/s/files/1/0353/7249/files/XmasList-Mobile.png?v=1733392232;width=1400 1400w, https://cdn.shopify.com/s/files/1/0353/7249/files/XmasList-Mobile.png?v=1733392232;width=1600 1600w, https://cdn.shopify.com/s/files/1/0353/7249/files/XmasList-Mobile.png?v=1733392232;width=1800 1800w" width="2000" height="1406">
        </div>


    <div id="gs-content" class="flex flex-col gap-2 md:grid md:grid-cols-2 pb-12 md:pb-20">
      <div class="flex md:items-start md:justify-start" style="background: #22c55e;">
 

<div id="gs-info-section" class="p-4 md:p-6">

        
        <div id="gs-inner-content"  class="flex flex-col gap-2 shadow-md max-md:w-full relative md:p-6 p-4 rounded-lg bg-white rounded-lg shadow-md">


<h2 class="text-2xl md:text-2xl uppercase mb-3 marujo">Gather your Gifts</h2>
  <div>

Looking for the perfect gifts this Christmas? Choose a department, select a type, and find products available in the size you need. Build your custom gift list with ease and add everything to your cart in just a few clicks!

    
  </div>

          
         <div class="font-bold  text-sm"> 1. Choose Your Department</div>
        <div id="gs-department-selection" class="relative grid grid-cols-3 rounded-full bg-green-500 text-center text-white mx-0 py-2">
            <button id="gs-mens" class="w-full z-10 gs-department-selector font-bold" aria-controls="gs-mens-product-category" aria-label="View men's product categories" data-department="mens">Mens</button>
            <button id="gs-womens" class="w-full border-x border-solid border-white z-10 font-bold gs-department-selector" aria-controls="gs-womens-product-category" aria-label="View women's product categories" data-department="womens">Womens</button>
            <button id="gs-kids" class="w-full z-10 gs-department-selector font-bold" aria-controls="gs-kids-product-category" aria-label="View kids' product categories" data-department="kids">Kids</button>
            <div id="gs-department-slider" class="absolute w-1/3 h-full py-1 px-2">
                <div class="rounded-full w-full h-full bg-red-500"></div>
            </div>
        </div>
    <div id="gs-product-category" style="display: block;">
     <div class="font-bold  text-sm"> 2. Choose Your Product Type</div>
        <div id="gs-mens-product-category" aria-labelledby="gs-mens" role="tabpanel" class="grid grid-cols-3 gs-category px-0 gap-1">
            <button id="gs-mens-pants" class="gs-product-category-selector flex flex-col uppercase border-2 border-solid font-bold rounded-md 1 p-1 px-2 flex flex-col uppercase border-2 border-solid font-bold rounded-md 1 p-1flex flex-col uppercase border-2 border-solid font-bold rounded-md 1 p-1" aria-controls="gs-mens-pants-options" aria-label="View men's pants options" data-category="pants">
              <img src="https://cdn.shopify.com/s/files/1/0353/7249/files/Mens.svg?v=1733392178">
              <div class="text-xs text-center w-full">Underwear</div>
              </button>
            <button id="gs-mens-socks" class="gs-product-category-selector flex flex-col uppercase border-2 border-solid font-bold rounded-md 1 p-1 px-2" aria-controls="gs-socks-options" aria-label="View men's socks options" data-category="socks">
              <img src="https://cdn.shopify.com/s/files/1/0353/7249/files/Socks.svg?v=1725348785">
              <div class="text-xs text-center w-full">Socks</div> 
            </button>
            <!-- <button id="gs-mens-pyjamas" class="gs-product-category-selector flex flex-col uppercase border-2 border-solid font-bold rounded-md 1 p-1 px-2" aria-controls="gs-mens-pyjamas-options" aria-label="View men's pyjamas options" data-category="pyjamas">
              <img src="https://cdn.shopify.com/s/files/1/0353/7249/files/Pyjamas.svg?v=1733392178">
              <div class="text-xs text-center w-full">Pyjamas</div>
            </button> -->
        </div>
        <div id="gs-womens-product-category" aria-labelledby="gs-womens" aria-hidden="true" role="tabpanel" style="display: none;" class="grid grid-cols-3 gs-category px-0 gap-1">
            <button id="gs-womens-pants" class="gs-product-category-selector flex flex-col uppercase border-2 border-solid font-bold rounded-md 1 p-1 px-2" aria-controls="gs-womens-pants-options" aria-label="View women's pants options" for="Pants" data-category="pants">
              <img src="https://cdn.shopify.com/s/files/1/0353/7249/files/Womens.svg?v=1733392178">
              <div class="text-xs text-center w-full">Underwear</div>
              </button>
            <button id="gs-womens-socks" class="gs-product-category-selector flex flex-col uppercase border-2 border-solid font-bold rounded-md 1 p-1 px-2" aria-controls="gs-socks-options" aria-label="View women's socks options" for="Socks" data-category="socks">
              <img  src="https://cdn.shopify.com/s/files/1/0353/7249/files/Socks.svg?v=1725348785">
              <div class="text-xs text-center w-full">Socks</div>
            </button>
            <!-- <button id="gs-womens-pyjamas" class="gs-product-category-selector flex flex-col uppercase border-2 border-solid font-bold rounded-md 1 p-1 px-2" aria-controls="gs-womens-pyjamas-options" aria-label="View women's pyjamas options" for="Pyjamas" data-category="pyjamas">
              <img src="https://cdn.shopify.com/s/files/1/0353/7249/files/Pyjamas.svg?v=1733392178">
              <div class="text-xs text-center w-full">Pyjamas</div>
            </button> -->
        </div>
        <div id="gs-kids-product-category" aria-labelledby="gs-kids" aria-hidden="true" role="tabpanel" style="display: none;" class="grid grid-cols-3 gs-category px-0 gap-1">
            <button id="gs-kids-pants" class="gs-product-category-selector flex flex-col uppercase border-2 border-solid font-bold rounded-md 1 p-1 px-2" aria-controls="gs-kids-pants-size" aria-label="View kids' pants options" data-category="goolies">
              <img src="https://cdn.shopify.com/s/files/1/0353/7249/files/Goolies.svg?v=1733392178">
              <div class="text-xs text-center w-full">Goolies</div>
            </button>
            <button id="gs-kids-socks" class="gs-product-category-selector flex flex-col uppercase border-2 border-solid font-bold rounded-md 1 p-1 px-2" aria-controls="gs-socks-options" aria-label="View kids' socks options" data-category="Socks">
              <img src="https://cdn.shopify.com/s/files/1/0353/7249/files/Socks.svg?v=1725348785">
              <div class="text-xs text-center w-full">Socks</div>
            </button>
            <!-- <button id="gs-kids-pyjamas" class="gs-product-category-selector flex flex-col uppercase border-2 border-solid font-bold rounded-md 1 p-1 px-2" aria-controls="gs-kids-pyjamas-options" aria-label="View kids' pyjamas options" data-category="Pyjamas">
              <img src="https://cdn.shopify.com/s/files/1/0353/7249/files/Pyjamas.svg?v=1733392178">
              <div class="text-xs text-center w-full">Pyjamas</div>
            </button> -->
        </div>
    </div>
    <div id="gs-product-type" class="px-0" style="display:none;">
        <div class="font-bold  text-sm">2. Choose Your Product</div>
        <div id="gs-mens-pants-options" aria-labelledby="gs-mens-pants" aria-hidden="true" role="tabpanel" style="display: none;" class="gs-product-type relative grid grid-cols-4 gap-2 border-solid border-gray-200 p-2 rounded-md">
            <button id="gs-mens-boxers" class="gs-product-type-option relative flex items-center justify-center rounded-md border py-2 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-type="boxers" aria-controls="gs-mens-pants-size">Boxers</button>
            <button id="gs-mens-bamboo-boxers" class="gs-product-type-option relative flex items-center justify-center rounded-md border py-2 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-type="bamboo-boxers" aria-controls="gs-mens-bamboo-pants-size">Bamboo</button>
            <button id="gs-mens-briefs" class="gs-product-type-option relative flex items-center justify-center rounded-md border py-2 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-type="briefs" aria-controls="gs-mens-pants-size">Briefs</button>
        </div>
        <div id="gs-mens-pyjamas-options" aria-labelledby="gs-mens-pyjamas" aria-hidden="true" role="tabpanel" class="gs-product-type relative grid grid-cols-4 gap-2 border-solid border-gray-200 p-2 rounded-md" style="display:none">
            <button id="gs-mens-long-pyjamas" class="gs-product-type-option relative flex items-center justify-center rounded-md border py-2 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-type="long" aria-controls="gs-mens-pants-size">Long</button>
            <button id="gs-mens-short-pyjamas" class="gs-product-type-option relative flex items-center justify-center rounded-md border py-2 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-type="short" aria-controls="gs-mens-pants-size">Short</button>
        </div>
        <div id="gs-womens-pyjamas-options" aria-labelledby="gs-womens-pyjamas" aria-hidden="true" role="tabpanel" class="gs-product-type relative grid grid-cols-4 gap-2 border-solid border-gray-200 p-2 rounded-md" style="display:none">
            <button id="gs-womens-long-pyjamas" class="gs-product-type-option relative flex items-center justify-center rounded-md border py-2 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-type="long" aria-controls="gs-womens-pyjamas-size">Long</button>
            <button id="gs-womens-short-pyjamas" class="gs-product-type-option relative flex items-center justify-center rounded-md border py-2 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-type="short" aria-controls="gs-womens-pyjamas-size">Short</button>
        </div>
        <div id="gs-kids-pants-options" aria-labelledby="gs-kids-pants" aria-hidden="true" role="tabpanel" class="gs-product-type relative grid grid-cols-4 gap-2 border-solid border-gray-200 p-2 rounded-md" style="display:none">
            <button id="gs-goolies" class="gs-product-type-option relative flex items-center justify-center rounded-md border py-2 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-type="goolies" aria-controls="gs-kids-pants-size"> Goolies</button>        
        </div>
        <div id="gs-kids-pyjamas-options" aria-labelledby="gs-kids-pyjamas" aria-hidden="true" role="tabpanel" class="gs-product-type relative grid grid-cols-4 gap-2 border-solid border-gray-200 p-2 rounded-md" style="display:none">
            <button id="gs-kids-long-pyjamas" class="gs-product-type-option relative flex items-center justify-center rounded-md border py-2 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-type="long" aria-controls="gs-kids-pyjamas-size">Long</button>
            <button id="gs-kids-short-pyjamas" class="gs-product-type-option relative flex items-center justify-center rounded-md border py-2 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-type="short" aria-controls="gs-kids-pyjamas-size">Short</button>
        </div>
        <div id="gs-womens-pants-options" aria-labelledby="gs-womens-pants" aria-hidden="true" role="tabpanel" class="gs-product-type relative grid grid-cols-4 gap-2 border-solid border-gray-200 p-2 rounded-md" style="display:none">
            <button id="gs-womens-boxers" class="gs-product-type-option relative flex items-center justify-center rounded-md border py-2 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-type="boxers" aria-controls="gs-womens-pants-size">Boxers</button>
            <button id="gs-womens-briefs" class="gs-product-type-option relative flex items-center justify-center rounded-md border py-2 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-type="briefs" aria-controls="gs-womens-pants-size">Briefs</button>
            <button id="gs-womens-seamless" class="gs-product-type-option relative flex items-center justify-center rounded-md border py-2 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-type="seamless" aria-controls="gs-womens-pants-size">Seamless</button>
            <button id="gs-womens-full-seamless" class="gs-product-type-option relative flex items-center justify-center rounded-md border py-2 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-type="full-seamless" aria-controls="gs-womens-pants-size">Full Seamless</button>
            <button id="gs-womens-bralettes" class="gs-product-type-option relative flex items-center justify-center rounded-md border py-2 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-type="bralettes" aria-controls="gs-womens-bralette-size">Bralettes</button>
        </div>
        <div id="gs-socks-options" aria-labelledby="gs-mens-socks" aria-hidden="true" role="tabpanel" style="display:none" class="gs-product-type relative grid grid-cols-4 gap-2 border-solid border-gray-200 p-2 rounded-md">
            <button id="gs-full-socks" class="gs-product-type-option relative flex items-center justify-center rounded-md border py-2 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-type="full" aria-controls="gs-socks-size">Full</button>
            <button id="gs-ankle-socks" class="gs-product-type-option relative flex items-center justify-center rounded-md border py-2 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-type="ankle" aria-controls="gs-socks-size">Ankle</button>
        </div>
    </div>
    
    <div id="gs-sizes" class="px-0 mb-2" style="display:none;">
        <div class="font-bold  text-sm">2. Choose Your Size</div>
        <div id="gs-mens-pants-size" aria-hidden="true" class="gs-size-container grid grid-cols-4 gap-2" style="display: none;">
            <button id="gs-mens-pants-xxs" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-xxs">XXS</button>
            <button id="gs-mens-pants-xs" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-xs">XS</button>
            <button id="gs-mens-pants-small" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-small">Small</button>
            <button id="gs-mens-pants-medium" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-medium">Medium</button>
            <button id="gs-mens-pants-large" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-large">Large</button>
            <button id="gs-mens-pants-xl" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-xl">XL</button>
            <button id="gs-mens-pants-2xl" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-2xl">2XL</button>
            <button id="gs-mens-pants-3xl" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-3xl">3XL</button>
        </div>
        <div id="gs-mens-bamboo-pants-size" aria-hidden="true" class="gs-size-container grid grid-cols-4 gap-2" style="display: none;">
             <button id="gs-mens-bamboo-pants-small" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-small">Small</button>
            <button id="gs-mens-bamboo-pants-medium" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-medium">Medium</button>
            <button id="gs-mens-bamboo-pants-large" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-large">Large</button>
            <button id="gs-mens-bamboo-pants-xl" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-xl">XL</button>
            <button id="gs-mens-bamboo-pants-2xl" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-2xl">2XL</button>
            <button id="gs-mens-bamboo-pants-3xl" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-3xl">3XL</button>
        </div>
        <div id="gs-womens-pants-size" aria-hidden="true" style="display:none" class="gs-size-container grid grid-cols-4 gap-2">
            <button id="gs-womens-pants-6" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="title-size-6">6</button>
            <button id="gs-womens-pants-8" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="title-size-8">8</button>
            <button id="gs-womens-pants-10" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="title-size-10">10</button>
            <button id="gs-womens-pants-12" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="title-size-12">12</button>
            <button id="gs-womens-pants-14" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="title-size-14">14</button>
            <button id="gs-womens-pants-16" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="title-size-16">16</button>
            <button id="gs-womens-pants-18" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="title-size-18">18</button>
            <button id="gs-womens-pants-20" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="title-size-20">20</button>
        </div>
        <div id="gs-womens-bralette-size" aria-hidden="true" style="display:none" class="gs-size-container grid grid-cols-4 gap-2">
            <button id="gs-bralette-xs" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-xs">XS</button>
            <button id="gs-bralette-small" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-small">Small</button>
            <button id="gs-bralette-medium" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-medium">Medium</button>
            <button id="gs-bralette-large" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-large">Large</button>
            <button id="gs-bralette-2xl" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-2xl">2XL</button>
            <button id="gs-bralette-3xl" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-3xl">3XL</button>
        </div>
        <div id="gs-kids-pants-size" aria-hidden="true" style="display:none" class="gs-size-container grid grid-cols-4 gap-2">
            <button id="gs-kids-pants-5-6" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-5-6-yrs">5/6 Yrs</button>
            <button id="gs-kids-pants-6-7" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-6-7-yrs">6/7 Yrs</button>
            <button id="gs-kids-pants-7-8" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-7-8-yrs">7/8 Yrs</button>
            <button id="gs-kids-pants-9-10" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-9-10-yrs">9/10 Yrs</button>
            <button id="gs-kids-pants-11-12" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-11-12-yrs">11/12 Yrs</button>
        </div>
        <div id="gs-kids-pyjamas-size" aria-hidden="true" style="display:none" class="gs-size-container grid grid-cols-4 gap-2">
            <button id="gs-kids-pyjamas-5-6" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-5-6-yrs">5/6 Yrs</button>
            <button id="gs-kids-pyjamas-6-7" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-6-7-yrs">6/7 Yrs</button>
            <button id="gs-kids-pyjamas-7-8" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-7-8-yrs">7/8 Yrs</button>
            <button id="gs-kids-pyjamas-9-10" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-9-10-yrs">9/10 Yrs</button>
            <button id="gs-kids-pyjamas-11-12" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-11-12-yrs">11/12 Yrs</button>
        </div>
        <div id="gs-socks-size" aria-hidden="true" style="display:none" class="gs-size-container grid grid-cols-4 gap-2">
            <button id="gs-socks-1-2" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-1-2">1-2</button>
            <button id="gs-socks-3-6" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-3-6">3-6</button>
            <button id="gs-socks-7-10" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-7-10">7-10</button>
            <button id="gs-socks-11-13" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-11-13">11-13</button>
        </div>
        <div id="gs-womens-pyjamas-size" aria-hidden="true" style="display:none" class="gs-size-container grid grid-cols-4 gap-2">
            <button id="gs-womens-pyjamas-xs" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-xs">xs</button>
            <button id="gs-womens-pyjamas-small" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-small">small</button>
            <button id="gs-womens-pyjamas-medium" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-medium">medium</button>
            <button id="gs-womens-pyjamas-large" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-large">large</button>
            <button id="gs-womens-pyjamas-xl" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-xl">xl</button>
            <button id="gs-womens-pyjamas-2xl" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-2xl">2xl</button>
            <button id="gs-womens-pyjamas-3xl" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-3xl">3xl</button>
        </div>
        <div id="gs-mens-pyjamas-size" aria-hidden="true" style="display:none" class="gs-size-container grid grid-cols-4 gap-2">
            <button id="gs-mens-pyjamas-xxs" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-xxs">xxs</button>
            <button id="gs-mens-pyjamas-xs" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-xs">xs</button>
            <button id="gs-mens-pyjamas-small" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-small">small</button>
            <button id="gs-mens-pyjamas-medium" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-medium">medium</button>
            <button id="gs-mens-pyjamas-large" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-large">large</button>
            <button id="gs-mens-pyjamas-xl" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-xl">xl</button>
            <button id="gs-mens-pyjamas-2xl" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-2xl">2xl</button>
            <button id="gs-mens-pyjamas-3xl" class="gs-size-option ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm" data-size="size-3xl">3xl</button>
        </div>
    </div>
        </div>
    </div>
</div>
      <div id="gs-desktop-image" class="hidden md:block h-full">
            <img class="h-full w-full object-cover" src="https://cdn.shopify.com/s/files/1/0353/7249/files/XmasList-Desktop.png?v=1733392232;width=2000" alt="" srcset="https://cdn.shopify.com/s/files/1/0353/7249/files/XmasList-Desktop.png?v=1733392232;width=200 200w, https://cdn.shopify.com/s/files/1/0353/7249/files/XmasList-Desktop.png?v=1733392232;width=300 300w, https://cdn.shopify.com/s/files/1/0353/7249/files/XmasList-Desktop.png?v=1733392232;width=400 400w, https://cdn.shopify.com/s/files/1/0353/7249/files/XmasList-Desktop.png?v=1733392232;width=600 600w, https://cdn.shopify.com/s/files/1/0353/7249/files/XmasList-Desktop.png?v=1733392232;width=800 800w, https://cdn.shopify.com/s/files/1/0353/7249/files/XmasList-Desktop.png?v=1733392232;width=1000 1000w, https://cdn.shopify.com/s/files/1/0353/7249/files/XmasList-Desktop.png?v=1733392232;width=1200 1200w, https://cdn.shopify.com/s/files/1/0353/7249/files/XmasList-Desktop.png?v=1733392232;width=1400 1400w, https://cdn.shopify.com/s/files/1/0353/7249/files/XmasList-Desktop.png?v=1733392232;width=1600 1600w, https://cdn.shopify.com/s/files/1/0353/7249/files/XmasList-Desktop.png?v=1733392232;width=1800 1800w" width="2000" height="1406">
        </div>
      <div id="gs-empty-state-image" class="hidden">
              <img id="sub-mobile-svg" src="https://cdn.shopify.com/s/files/1/0353/7249/files/build-a-bundle-svg.svg?v=1724229536" class="w-full h-full -z-10 object-cover lg:hidden block absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
                <img src="https://cdn.shopify.com/s/files/1/0353/7249/files/PJS_43_1.png?v=1733932910" class="h-full w-full object-cover z-10">
        </div>
   
      
    <div id="gs-results-div" style="background:#f7f7f7; align-items: center;display: flex;padding: 30px; border-left:1px solid #ddd; display:none;" style="">
      <div style="max-width: 900px;position: sticky;top: 0px;">
      <div id="gs-results-text" class="px-0 py-4">

      </div>
      <div id="gs-results-div-inner" class="grid grid-cols-3 md:grid-cols-4 pb-14 px-2 gap-2 md:pb-20"></div>
      </div>
    </div>
   
    </div>
  
    <div id="gs-add-to-list" class="bottom-0 gap-2 w-full flex justify-center px-4 pt-2 md:pb-2 md:pt-4" style="display:none; position:fixed;">
      <div class="w-full md:w-1/2 grid  gap-2">
        <div id="gs-show-list" class="button w-full bg-green-500 gs-disabled px-2" style="">
          <div id="show-list-disabled">list is empty</div>
          <div id="show-list-active">SHow lIst</div>
        </div>
        <div id="gs-add-prod-to-list" class="button w-full  mb-2 gs-disabled px-2" style="display:none;">
          <div id="add-to-list-disabled">Choose a product</div>
          <div id="add-to-list-active"> Add to list</div>
        </div>
      </div>
    </div>
    

      </div>
<div id="gs-bottom-line" style="height:1px;"></div>

<style>
  .snowflake {
    position: absolute;
    width: 10px;
    height: 10px;
    background: linear-gradient(white, white); /* Workaround for Chromium's selective color inversion */
    border-radius: 50%;
    filter: drop-shadow(0 0 10px white);
}

  
#gs-add-to-list{
  backdrop-filter: blur(3px);
  background-color: #e7e7e796;
}

#gs-add-to-basket-loading{
  display:none;
}
#gs-add-to-basket{
  display: block;
}
.loading #gs-add-to-basket-loading{
  display: flex;
}
.loading #gs-add-to-basket{
  display:none;
}


@media(min-width:1024px){
  #gs-info-section{   
    height: calc(100vh - 249px);
    width: 100%;
    position: sticky;
    top: 0px;
    /* background: red; */
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
  }
  #gs-add-to-list{
    right:50%;
    transform:translateX(50%);
  }
  #gs-list-popup-contents{
    transform:translate(-50%);
    left:50%;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  #gs-list-loc{
    width:100% !important;
    right:0% !important;
  }
  #gs-santa-div{
     right:91% !important; 
      transform: translateX(-2px) !important;
  }
  .popup-active #gs-list-popup-contents{
    opacity: 1;
  }
  #gs-inner-content{
        /*min-height: 520px;*/
        height:min-content;
        max-width: 600px;
        min-width:600px;
        padding: 50px;
        top:1%;
        /**border: 1px solid #dddddd;**/
        border-radius: 7px;
        overflow: hidden;
        margin-top:20px;
    background:#fff;
  }
  
  
}

.gs-disabled{
  pointer-events: none;
}

.gs-disabled #add-to-list-disabled{
  display:block !important;
  pointer-events:none;
}
.gs-disabled #add-to-list-active{
  display:none !important;
  pointer-events:none;
}
.gs-disabled #show-list-disabled{
  display:block !important;
  pointer-events:none;
}
.gs-disabled #show-list-active{
  display:none !important;
  pointer-events:none;
}
#add-to-list-disabled{
  display:none !important;
}
#add-to-list-active{
  display:block !important;
}
#show-list-disabled{
display:none !important;
}
#show-list-active{
  display:block !important;
}
@media(min-width:1024px){
  #gs-results-div{
    min-height:100%;
  }
}
.gs-product{
  transition: opactity 0.2s ease;
}

.gs-product-type{
  background-color: #f2f2f2;
}
.gs-active{
  background-color: #ef4444 !important;
  color: #fff !important; 
}
.gs-active img{
  filter: brightness(0) invert(1);
}
.womens-active #gs-department-slider{
  transform:translateX(100%);
}
.kids-active #gs-department-slider{
  transform:translateX(200%)
}
.mens-active #gs-department-slider{
  transform:translateX(0%);
}
#gs-department-slider{
  transition: transform 0.2s ease
}
#gs-mens-pants-options::before,#gs-womens-pants-options::before,#gs-kids-pants-options::before {
  left:17%;
}
#gs-socks-options::before{
  left:50%;
}
#gs-mens-pyjamas-options::before,#gs-womens-pyjamas-options::before,#gs-kids-pyjamas-options::before {
  left:83%;
}
/* .gs-product-type::before {
  content: "";
  position: absolute;
  top: -9px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent; 
  border-right: 10px solid transparent; 
  border-bottom: 10px solid #f2f2f2; 
  transform:translateX(-50%);
} */

#gs-list-loc {
  position: relative;
  display: inline-block; 
}

#gs-list-loc .corner-shade {
  content: "";
  position: absolute;
  width: 50px; 
  height: 50px;
  pointer-events: none; 
}

#gs-list-loc .corner-top-left {
  border-radius: 0 0 50px 0;
  top: 0;
  left: 0;
  background: radial-gradient(circle at top left, rgba(0, 0, 0, 0.4) , rgba(0, 0, 0, 0) 50%);
}

#gs-list-loc .corner-top-right {
  border-radius: 0 0 0 50px;
  top: 0;
  right: 0;
  background: radial-gradient(circle at top right, rgba(0, 0, 0, 0.4) , rgba(0, 0, 0, 0) 50%);
}

#gs-list-loc .corner-bottom-left {
  border-radius: 0 50px 0 0;
  left: 0;
  bottom: 0;
  background: radial-gradient(circle at bottom left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0) 50%);
}

#gs-list-loc .corner-bottom-right {
  border-radius: 50px 0 0 0;
  bottom: 0;
  right: 0;
  background: radial-gradient(circle at bottom right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0) 50%);
}





/* #gs-list-loc{
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

.gs-selected{
  border: 1px solid red
}


  
</style>
