  <div class="tw-grow tw-flex-1 tw-px-18 tw-hidden lg:tw-block" style="z-index: 101">
    <div class="tw-px-4 tw-py-2 tw-relative tw-flex tw-items-center">
        <input id="main-nosto-search" type="text" placeholder="" autocomplete="off" class="js-nosto-search-bar tw-w-full tw-py-1 tw-px-2  tw-w-full tw-border-2 tw-border-solid tw-border-black tw-rounded-md" style="height:fit-content;" />
      	<span style="display:none;z-index: 10;
    background: #fff;" class="searchinput-preloader tw-w-6 tw-h-6 tw-right-8 tw-absolute" aria-hidden="true">
            <svg class="circular-loader" viewBox="25 25 50 50"><circle class="loader-path" cx="50" cy="50" r="20" fill="none" stroke-width="4"></circle></svg>
        </span>
      	<span style="display:none;z-index:1" class="searchinput-clear tw-bg-gray-100 tw-w-6 tw-flex tw-items-center tw-h-6 tw-right-8 tw-absolute" aria-hidden="true">
            <svg aria-hidden="true" class="tw-mx-auto" focusable="false" role="presentation" width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.41418 0L16.9705 15.5563L15.5563 16.9706L-2.89679e-05 1.41421L1.41418 0Z" fill="#111111"></path><path d="M16.9706 1.41431L1.41423 16.9707L1.85966e-05 15.5564L15.5564 9.31025e-05L16.9706 1.41431Z" fill="#111111"></path></svg>
        </span>
    </div>
  </div>