				<section id="no-more-tables" class="">
				<h3 class="">Bralette Size Guide</h3>
				<p class="pb-5 text-gray-400 text-sm">
					Please select a bra size
				</p>
				<div class="sm:flex">
					<select id="back_size" class="bralette-size-selector w-full sm:w-1/2 px-4 py-2 mb-2 mr-2 text-center border-gray-200 border focus:ring-magenta-500 focus:border-magenta-500">
						<option selected disabled>Back size</option>
						<option>32</option>
						<option>34</option>
						<option>36</option>
						<option>38</option>
						<option>40</option>
						<option>42</option>
						<option>44</option>
					</select>
					<select id="cup_size" class="bralette-size-selector w-full sm:w-1/2 px-4 py-2 mb-2 border-gray-200 border focus:ring-magenta-500 focus:border-magenta-500">
						<option selected disabled>Cup size</option>
						<option>A</option>
						<option>B</option>
						<option>C</option>
						<option>D</option>
						<option>DD</option>
						<option>E</option>
						<option>F</option>
						<option>G</option>
					</select>
				</div>
				<p id="alert_select_back" class="py-3 text-xs text-red-600 " style="display: none;">
					Please select your back size
				</p>
				<p id="alert_select_cup" class="py-3 text-xs text-red-600" style="display: none;">
					Please select your cup size
				</p>
				<table class="table-bordered table-striped table-condensed cf searchable-table min-w-full block">
				<thead class="cf bg-gray-50 block">
				<tr class="text-center block">
					<th class="text-center block">
						Size
					</th>
					<th class="text-center block">
						Full Bust
					</th>
					<th class="text-center block">
						Back Size
					</th>
					<th class="text-center block">
						A
					</th>
					<th class="text-center block">
						B
					</th>
					<th class="text-center block">
						C
					</th>
					<th class="text-center block">
						D
					</th>
					<th class="text-center block">
						DD
					</th>
					<th class="text-center block">
						E
					</th>
					<th class="text-center block">
						F
					</th>
					<th class="text-center block">
						G
					</th>
				</tr>
				</thead>
				<tbody class="block">
				<tr class="text-center block">
					<td data-title="Size" class="text-center block">
						XS
					</td>
					<td data-title="Full Bust" class="text-center block">
						31"-33"
					</td>
					<td data-title="Back Size" class="text-center searchable block">
						32
					</td>
					<td data-title="A" class="text-center block">
						XS
					</td>
					<td data-title="B" class="text-center block">
						XS or S
					</td>
					<td data-title="C" class="text-center block">
						S
					</td>
					<td data-title="D" class="text-center block">
						S or M
					</td>
					<td data-title="DD" class="text-center block">
						M
					</td>
					<td data-title="E" class="text-center block">
						M or L
					</td>
					<td data-title="F" class="text-center block">
						L
					</td>
					<td data-title="G" class="text-center block">
						L or XL
					</td>
				</tr>
				<tr class="text-center block">
					<td data-title="Size" class="text-center block">
						S
					</td>
					<td data-title="Full Bust" class="text-center block">
						33"-35"
					</td>
					<td data-title="Back Size" class="text-center searchable block">
						34
					</td>
					<td data-title="A" class="text-center block">
						S
					</td>
					<td data-title="B" class="text-center block">
						S or M
					</td>
					<td data-title="C" class="text-center block">
						M
					</td>
					<td data-title="D" class="text-center block">
						M or L
					</td>
					<td data-title="DD" class="text-center block">
						L
					</td>
					<td data-title="E" class="text-center block">
						L or XL
					</td>
					<td data-title="F" class="text-center block">
						XL
					</td>
					<td data-title="G" class="text-center block">
						XL or 2XL
					</td>
				</tr>
				<tr class="text-center block">
					<td data-title="Size" class="text-center block">
						M
					</td>
					<td data-title="Full Bust" class="text-center block">
						35"-37"
					</td>
					<td data-title="Back Size" class="text-center searchable block">
						36
					</td>
					<td data-title="A" class="text-center block">
						M
					</td>
					<td data-title="B" class="text-center block">
						M or L
					</td>
					<td data-title="C" class="text-center block">
						L
					</td>
					<td data-title="D" class="text-center block">
						L or XL
					</td>
					<td data-title="DD" class="text-center block">
						XL
					</td>
					<td data-title="E" class="text-center block">
						XL or 2XL
					</td>
					<td data-title="F" class="text-center block">
						2XL
					</td>
					<td data-title="G" class="text-center block">
						2XL or 3XL
					</td>
				</tr>
				<tr class="text-center block">
					<td data-title="Size" class="text-center block">
						L
					</td>
					<td data-title="Full Bust" class="text-center block">
						37"-39"
					</td>
					<td data-title="Back Size" class="text-center searchable block">
						38
					</td>
					<td data-title="A" class="text-center block">
						L
					</td>
					<td data-title="B" class="text-center block">
						L or XL
					</td>
					<td data-title="C" class="text-center block">
						XL
					</td>
					<td data-title="D" class="text-center block">
						XL or 2XL
					</td>
					<td data-title="DD" class="text-center block">
						2XL
					</td>
					<td data-title="E" class="text-center block">
						2XL or 3XL
					</td>
					<td data-title="F" class="text-center block">
						3XL
					</td>
					<td data-title="G" class="text-center block">
						3XL
					</td>
				</tr>
				<tr class="text-center block">
					<td data-title="Size" class="text-center block">
						XL
					</td>
					<td data-title="Full Bust" class="text-center block">
						39"-41"
					</td>
					<td data-title="Back Size" class="text-center searchable block">
						40
					</td>
					<td data-title="A" class="text-center block">
						XL
					</td>
					<td data-title="B" class="text-center block">
						XL or 2XL
					</td>
					<td data-title="C" class="text-center block">
						2XL
					</td>
					<td data-title="D" class="text-center block">
						2XL or 3XL
					</td>
					<td data-title="DD" class="text-center block">
						3XL
					</td>
					<td data-title="E" class="text-center block">
						3XL
					</td>
					<td data-title="F" class="text-center block">
						-
					</td>
					<td data-title="G" class="text-center block">
						-
					</td>
				</tr>
				<tr class="text-center block">
					<td data-title="Size" class="text-center block">
						2XL
					</td>
					<td data-title="Full Bust" class="text-center block">
						41"-43"
					</td>
					<td data-title="Back Size" class="text-center searchable block">
						42
					</td>
					<td data-title="A" class="text-center block">
						2XL
					</td>
					<td data-title="B" class="text-center block">
						2XL or 3XL
					</td>
					<td data-title="C" class="text-center block">
						3XL
					</td>
					<td data-title="D" class="text-center block">
						3XL
					</td>
					<td data-title="DD" class="text-center block">
						-
					</td>
					<td data-title="E" class="text-center block">
						-
					</td>
					<td data-title="F" class="text-center block">
						-
					</td>
					<td data-title="G" class="text-center block">
						-
					</td>
				</tr>
				<tr class="text-center block">
					<td data-title="Size" class="text-center block">
						3XL
					</td>
					<td data-title="Full Bust" class="text-center block">
						43"-45"
					</td>
					<td data-title="Back Size" class="text-center searchable block">
						44
					</td>
					<td data-title="A" class="text-center block">
						3XL
					</td>
					<td data-title="B" class="text-center block">
						3XL
					</td>
					<td data-title="C" class="text-center block">
						-
					</td>
					<td data-title="D" class="text-center block">
						-
					</td>
					<td data-title="DD" class="text-center block">
						-
					</td>
					<td data-title="E" class="text-center block">
						-
					</td>
					<td data-title="F" class="text-center block">
						-
					</td>
					<td data-title="G" class="text-center block">
						-
					</td>
				</tr>
				</tbody>
				</table>
				</section>