                <div id="quantity-selector" class="cols-span-1 rounded-full px-2.5 py-2">
                  <div id="" class="decrement qs">-</div>
                  <div id="" class=" quantity qs">1</div>
                  <div id="" class="increment qs">+</div>
                </div>