<nav aria-label="Progress" style="    z-index: 39; background: #0896d2; backdrop-filter: blur(50px);;" class="js-match-balls-nav-wrapper max-sm:absolute flex w-full justify-center py-4 pb md:col-span-12 border-b border-solid border-black border-opacity-10">
  <ol role="list" class="flex items-center mb-2">
    <li id="match-nav-step-1" data-step="1" class="js-match-nav-step relative pr-8 sm:pr-20 match-current">
      
      <div class="absolute inset-0 flex items-center" aria-hidden="true">
        <div class="h-0.5 w-full match-nav-sep bg-gray-200"></div>
      </div>
      <!-- Completed Step -->
      <a href="#" class="js-completed relative flex h-8 w-8 items-center justify-center rounded-full bg-magenta-500 hover:bg-magenta-900">
        <svg class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
        </svg>
        <span class="sr-only">Step 1</span>
      </a>
            <!-- Current Step -->
      <a href="#" class="js-current relative flex h-8 w-8 items-center justify-center rounded-full border-2 border-solid border-magenta-500 bg-white" aria-current="step">
        <span class="h-2.5 w-2.5 rounded-full bg-magenta-500" aria-hidden="true"></span>
        <span class="sr-only">Step 3</span>
      </a>
            <!-- Upcoming Step -->
      <a href="#" class="js-upcoming group relative flex h-8 w-8 items-center justify-center rounded-full border-2 border-solid border-gray-300 bg-white hover:border-gray-400">
        <span class="h-2.5 w-2.5 rounded-full bg-transparent group-hover:match-nav-sep bg-gray-300" aria-hidden="true"></span>
        <span class="sr-only">Step 5</span>
      </a>
            <div class="absolute text-xxs font-bebas text-white"" style="padding-left:10px; padding-top: 2px">
              You
            </div>
    </li>
    <li id="match-nav-step-2" data-step="2" class="js-match-nav-step match-upcoming relative pr-8 sm:pr-20">
      
      <div class="absolute inset-0 flex items-center" aria-hidden="true">
        <div class="h-0.5 w-full match-nav-sep bg-gray-200"></div>
      </div>
      <!-- Completed Step -->
      <a href="#" class="js-completed relative flex h-8 w-8 items-center justify-center rounded-full bg-magenta-500 hover:bg-magenta-900">
        <svg class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
        </svg>
        <span class="sr-only">Step 1</span>
      </a>
            <!-- Current Step -->
      <a href="#" class="js-current relative flex h-8 w-8 items-center justify-center rounded-full border-2 border-solid border-magenta-500 bg-white" aria-current="step">
        <span class="h-2.5 w-2.5 rounded-full bg-magenta-500" aria-hidden="true"></span>
        <span class="sr-only">Step 3</span>
      </a>
            <!-- Upcoming Step -->
      <a href="#" class="js-upcoming group relative flex h-8 w-8 items-center justify-center rounded-full border-2 border-solid border-gray-300 bg-white hover:border-gray-400">
        <span class="h-2.5 w-2.5 rounded-full bg-transparent group-hover:match-nav-sep bg-gray-300" aria-hidden="true"></span>
        <span class="sr-only">Step 5</span>
      </a>
            <div class="absolute text-xxs font-bebas text-white" style="padding-top: 2px; padding-left: 7px;">
              Them
            </div>
    </li>
    <li id="match-nav-step-3" data-step="3" class="js-match-nav-step match-upcoming relative">
      
      <div class="absolute inset flex items-center" aria-hidden="true">
        <div class="h-0.5 w-full match-nav-sep bg-gray-200"></div>
      </div>
      <!-- Completed Step -->
      <a href="#" class="js-completed relative flex h-8 w-8 items-center justify-center rounded-full bg-magenta-500 hover:bg-magenta-900">
        <svg class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
        </svg>
        <span class="sr-only">Step 1</span>
      </a>
            <!-- Current Step -->
      <a href="#" class="js-current relative flex h-8 w-8 items-center justify-center rounded-full border-2 border-solid border-magenta-500 bg-white" aria-current="step">
        <span class="h-2.5 w-2.5 rounded-full bg-magenta-500" aria-hidden="true"></span>
        <span class="sr-only">Step 3</span>
      </a>
            <!-- Upcoming Step -->
      <a href="#" class="js-upcoming group relative flex h-8 w-8 items-center justify-center rounded-full border-2 border-solid border-gray-300 bg-white hover:border-gray-400">
        <span class="h-2.5 w-2.5 rounded-full bg-transparent group-hover:match-nav-sep bg-gray-300" aria-hidden="true"></span>
        <span class="sr-only">Step 5</span>
      </a>
            <div class="absolute text-xxs font-bebas whitespace-nowrap text-white"" style="padding-top: 2px; margin-left: -6px">
              Your Matches
            </div>
    </li>
  </ol>
</nav>