<form method="post" action="/test/test" id="product-form-test" accept-charset="UTF-8" class="flex h-full flex-col divide-y divide-gray-200 bg-white product-form" enctype="multipart/form-data" data-product-id="test" novalidate="novalidate" data-type="add-to-cart-form">
  <!-- fg_campaign_name =  -->
  <!-- fg_campaign_tag =  -->
  <div class="h-0 flex-1 overflow-y-auto">
    <header class="qb-header relative flex items-center justify-between px-6 py-6 border-b">
      <div class="absolute top-2 right-2"></div>
      <div>
        <div class="flex">
          <div id="default-quick-buy-image" class="flex-none load-animate">
            <picture>
              <img class="transition duration-100 ease-in-out opacity-100 rounded-sm aspect-square object-cover border border-solid borrder-gray-200 rounded-lg" src="//www.myoddballs.com/cdn/shop/files/TOPGUNM.BRIEFFRONT_medium.png?v=1726978164" alt="Top Gun Navy - Mens Briefs" loading="eager" width="84" height="84" draggable="false">
            </picture>
          </div>
          <div class="flex flex-col justify-center ml-4">
            <div class="typography typography--body-md">
              <div>
                <h2 id="default-quick-buy-header-title" class="text-xl lg:text-3xl marujo mb-2 load-animate">Product title </h2>
                <h3 id="default-quick-buy-header-sub-title" class="text-[#7D7D7D] load-animate"> Product type </h3>
              </div>
            </div>
            <div class="flex">
              <div id="default-quick-buy-prod-price" class="load-animate typography typography--body-md font-medium text-magenta-500 text-semibold"> price </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <button class="button button--variant-ghost button--icon bg-[#F5F5F5] !w-6 !h-6 !bg-[#F0F0F0] self-start" translate="no" aria-label="Close"><svg
							xmlns="http://www.w3.org/2000/svg" class="icon" fill="none" viewBox="0 0 14 14"><rect width="16.9705" height="1.13137" rx="0.565684" transform="matrix(0.707106 -0.707108 0.707106 0.707108 0.600586 12.6001)" fill="currentColor"></rect><rect width="16.9705" height="1.13137" rx="0.565684" transform="matrix(-0.707106 -0.707107 0.707106 -0.707108 12.6006 13.4001)" fill="currentColor"></rect></svg></button> -->
    </header>
    <div class="flex flex-1 flex-col justify-between">
      <div class="divide-y divide-gray-200">
        <div class="space-y-6 p-6 py-4">
          <!-- Variant Options -->
          <!-- Variant Options -->
          <div id="product-variants" class="gap-4 my-6 mt-0">
            <div class="product-options flex flex-col gap-5">
              <div class="product-option" data-option-index="0" data-option-name="Size">
                <div class="flex justify-between items-center w-full">
                  <div class="typography typography--body-md uppercase mb-2 font-semibold size-name load-animate">Size</div>
                  <div>
                    <div class="relative">
                      <a class="load-animate cursor-hand flex items-start gap-x-1" href="top-gun-navy-mbrief">
                        <svg class="circular-loader absolute h-5 -left-10 -top-1  md:-left-7 hidden" viewBox="25 25 50 50">
                          <circle class="loader-path" stroke="#f00f83" cx="50" cy="50" r="20" fill="none" stroke-width="4"></circle>
                        </svg>
                        <div class="cursor-hand flex flex-col items-center typography typography--body-md capitalize mb-2  ">
                          <span class=" pr-2 " style="text-align: right; line-height: 10px;">size guide</span>
                        </div>
                        <svg class="tape-svg -mt-0.5 md:-mt-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 157.21 100.22" style="enable-background:new 0 0 157.21 100.22;" xml:space="preserve">
                          <style type="text/css">
                            .st0 {
                              fill: #EC008C;
                            }
                            }
                          </style>
                          <g>
                            <path class="st0" d="M12.39,43.19v25.58c0,0,8.25,18.73,45.29,18.59c37.04-0.14,48.5-16.07,48.5-16.07l1.68-8.39   c0,0,22.92,10.62,36.48,7.13V44.86l-18.17-1.68l-17.89-5.59c0,0-14.26,21.51-51.58,19.35S12.39,43.19,12.39,43.19z"></path>
                            <g>
                              <path d="M59.77,45.78c11.91,0,20.89-4.67,20.89-10.87c0-6.2-8.98-10.87-20.89-10.87c-11.91,0-20.89,4.67-20.89,10.87    C38.88,41.11,47.86,45.78,59.77,45.78z M59.77,28.97c9.75,0,15.97,3.52,15.97,5.95c0,2.43-6.22,5.95-15.97,5.95    c-9.75,0-15.97-3.52-15.97-5.95C43.8,32.49,50.02,28.97,59.77,28.97z"></path>
                              <path d="M142.61,41.39c-24.83-0.36-31.69-6.19-32.89-7.44c-1.03-13.08-22.56-23.2-49.94-23.2c-28.06,0-50.04,10.61-50.04,24.16    V65.3c0,13.55,21.98,24.16,50.04,24.16c26.79,0,48.04-9.68,49.91-22.35c4.71,2.52,14.11,5.22,32.79,5.56    c1.39,0,2.58-0.48,3.54-1.41c0.95-0.93,1.48-2.18,1.48-3.51V46.31C147.48,43.63,145.3,41.43,142.61,41.39z M59.77,15.67    c26.99,0,45.12,9.95,45.12,19.24c0,5.71-6.86,11.65-18.38,15.4c-0.01,0-0.02,0.01-0.03,0.01c-7.24,2.35-16.3,3.84-26.71,3.84    c-26.99,0-45.12-9.95-45.12-19.25C14.65,25.62,32.78,15.67,59.77,15.67z M59.77,84.55c-26.99,0-45.12-9.95-45.12-19.24V45.47    c1.14,1.16,2.43,2.27,3.92,3.31v13.75c0,1.36,1.1,2.46,2.46,2.46c1.36,0,2.46-1.1,2.46-2.46V51.69c1.89,0.95,3.95,1.82,6.15,2.62    v8.36c0,1.36,1.1,2.46,2.46,2.46c1.36,0,2.46-1.1,2.46-2.46v-6.8c1.97,0.55,4.01,1.03,6.15,1.45v12.95c0,1.36,1.1,2.46,2.46,2.46    c1.36,0,2.46-1.1,2.46-2.46V58.12c2,0.27,4.05,0.48,6.15,0.64v7.79c0,1.36,1.1,2.46,2.46,2.46c1.36,0,2.46-1.1,2.46-2.46v-7.54    c1.02,0.03,2.04,0.07,3.07,0.07c1.04,0,2.05-0.04,3.07-0.07v12.49c0,1.36,1.1,2.46,2.46,2.46c1.36,0,2.46-1.1,2.46-2.46V58.76    c2.1-0.16,4.15-0.36,6.15-0.64v7.23c0,1.36,1.1,2.46,2.46,2.46c1.36,0,2.46-1.1,2.46-2.46v-8.04c2.14-0.41,4.18-0.9,6.15-1.45    v11.7c0,1.36,1.1,2.46,2.46,2.46c1.36,0,2.46-1.1,2.46-2.46V54.3c2.2-0.79,4.26-1.66,6.15-2.62v5.85c0,1.36,1.1,2.46,2.46,2.46    c1.36,0,2.46-1.1,2.46-2.46v-8.76c1.49-1.04,2.78-2.15,3.92-3.31V65.3C104.89,74.6,86.76,84.55,59.77,84.55z M109.81,40.08    c0.99,0.57,2.19,1.15,3.62,1.73v8.74c0,1.36,1.1,2.46,2.46,2.46c1.36,0,2.46-1.1,2.46-2.46v-7.11c1.64,0.45,3.48,0.87,5.53,1.24    v10.85c0,1.36,1.1,2.46,2.46,2.46c1.36,0,2.46-1.1,2.46-2.46V45.43c1.15,0.14,2.35,0.27,3.61,0.38v21.47    c-16.78-1.34-21.56-4.95-22.6-6.01V40.08z M142.56,67.76c-1.85-0.03-3.57-0.1-5.22-0.17V46.14c1.66,0.08,3.39,0.14,5.23,0.17    L142.56,67.76z"></path>
                            </g>
                          </g>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="product-variants grid grid-cols-4 gap-3">
                  <div data-variant-id="41459710885949" data-option-value="XXS" class="load-animate text-xs relative variant-unavailable klaviyo-bis-trigger">
                    <div class="out-of-stock-marker absolute z-10" style="right:5%; bottom:10%;">
                      <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="15" height="15" viewBox="0 0 24 24" stroke="#f00f83" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"></path>
                      </svg>
                    </div>
                    <label data-active="ring-2 ring-magenta" class="ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium font-semibold uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm text-nowrap">
                      <span class="peer-checked:border-transparent items-center flex justify-center peer-checked:bg-magenta-500 peer-checked:text-white peer-checked:hover:bg-pink-700 peer-checked:ring-2 peer-checked:ring-magenta-500 peer-checked:ring-offset-2 border-transparent pointer-events-none absolute -inset-px rounded-md" aria-hidden="true"></span>
                      <span class="option-value relative peer-checked:text-white">
                        <del class="out-of-stock-marker">XXS</del>
                        <div class="in-stock-marker">XXS</div>
                      </span>
                    </label>
                  </div>
                  <div data-variant-id="41459710918717" data-option-value="XS" class="load-animate text-xs relative variant-unavailable klaviyo-bis-trigger">
                    <div class="out-of-stock-marker absolute z-10" style="right:5%; bottom:10%;">
                      <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="15" height="15" viewBox="0 0 24 24" stroke="#f00f83" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"></path>
                      </svg>
                    </div>
                    <label data-active="ring-2 ring-magenta" class="ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium font-semibold uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm text-nowrap">
                      <span class="peer-checked:border-transparent items-center flex justify-center peer-checked:bg-magenta-500 peer-checked:text-white peer-checked:hover:bg-pink-700 peer-checked:ring-2 peer-checked:ring-magenta-500 peer-checked:ring-offset-2 border-transparent pointer-events-none absolute -inset-px rounded-md" aria-hidden="true"></span>
                      <span class="option-value relative peer-checked:text-white">
                        <del class="out-of-stock-marker">XS</del>
                        <div class="in-stock-marker">XS</div>
                      </span>
                    </label>
                  </div>
                  <div data-variant-id="41459710951485" data-option-value="Small" class="load-animate text-xs relative ">
                    <div class="out-of-stock-marker absolute z-10" style="right:5%; bottom:10%;">
                      <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="15" height="15" viewBox="0 0 24 24" stroke="#f00f83" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"></path>
                      </svg>
                    </div>
                    <label data-active="ring-2 ring-magenta" class="ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium font-semibold uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm text-nowrap">
                      <input type="radio" value="41459710951485" name="test-size" class="peer sr-only" data-option-index="0" data-option-value="Small">
                      <span class="peer-checked:border-transparent items-center flex justify-center peer-checked:bg-magenta-500 peer-checked:text-white peer-checked:hover:bg-pink-700 peer-checked:ring-2 peer-checked:ring-magenta-500 peer-checked:ring-offset-2 border-transparent pointer-events-none absolute -inset-px rounded-md" aria-hidden="true"></span>
                      <span class="option-value relative peer-checked:text-white">
                        <del class="out-of-stock-marker">Small</del>
                        <div class="in-stock-marker">Small</div>
                      </span>
                    </label>
                  </div>
                  <div data-variant-id="41459710984253" data-option-value="Medium" class="load-animate text-xs relative ">
                    <div class="out-of-stock-marker absolute z-10" style="right:5%; bottom:10%;">
                      <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="15" height="15" viewBox="0 0 24 24" stroke="#f00f83" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"></path>
                      </svg>
                    </div>
                    <label data-active="ring-2 ring-magenta" class="ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium font-semibold uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm text-nowrap">
                      <input type="radio" value="41459710984253" name="test-size" class="peer sr-only" data-option-index="0" data-option-value="Medium">
                      <span class="peer-checked:border-transparent items-center flex justify-center peer-checked:bg-magenta-500 peer-checked:text-white peer-checked:hover:bg-pink-700 peer-checked:ring-2 peer-checked:ring-magenta-500 peer-checked:ring-offset-2 border-transparent pointer-events-none absolute -inset-px rounded-md" aria-hidden="true"></span>
                      <span class="option-value relative peer-checked:text-white">
                        <del class="out-of-stock-marker">Medium</del>
                        <div class="in-stock-marker">Medium</div>
                      </span>
                    </label>
                  </div>
                  <div data-variant-id="41459711017021" data-option-value="Large" class="load-animate text-xs relative ">
                    <div class="out-of-stock-marker absolute z-10" style="right:5%; bottom:10%;">
                      <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="15" height="15" viewBox="0 0 24 24" stroke="#f00f83" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"></path>
                      </svg>
                    </div>
                    <label data-active="ring-2 ring-magenta" class="ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium font-semibold uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm text-nowrap">
                      <input type="radio" value="41459711017021" name="test-size" class="peer sr-only" data-option-index="0" data-option-value="Large">
                      <span class="peer-checked:border-transparent items-center flex justify-center peer-checked:bg-magenta-500 peer-checked:text-white peer-checked:hover:bg-pink-700 peer-checked:ring-2 peer-checked:ring-magenta-500 peer-checked:ring-offset-2 border-transparent pointer-events-none absolute -inset-px rounded-md" aria-hidden="true"></span>
                      <span class="option-value relative peer-checked:text-white">
                        <del class="out-of-stock-marker">Large</del>
                        <div class="in-stock-marker">Large</div>
                      </span>
                    </label>
                  </div>
                  <div data-variant-id="41459711049789" data-option-value="XL" class="load-animate text-xs relative ">
                    <div class="out-of-stock-marker absolute z-10" style="right:5%; bottom:10%;">
                      <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="15" height="15" viewBox="0 0 24 24" stroke="#f00f83" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"></path>
                      </svg>
                    </div>
                    <label data-active="ring-2 ring-magenta" class="ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium font-semibold uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm text-nowrap">
                      <input type="radio" value="41459711049789" name="test-size" class="peer sr-only" data-option-index="0" data-option-value="XL">
                      <span class="peer-checked:border-transparent items-center flex justify-center peer-checked:bg-magenta-500 peer-checked:text-white peer-checked:hover:bg-pink-700 peer-checked:ring-2 peer-checked:ring-magenta-500 peer-checked:ring-offset-2 border-transparent pointer-events-none absolute -inset-px rounded-md" aria-hidden="true"></span>
                      <span class="option-value relative peer-checked:text-white">
                        <del class="out-of-stock-marker">XL</del>
                        <div class="in-stock-marker">XL</div>
                      </span>
                    </label>
                  </div>
                  <div data-variant-id="41459711082557" data-option-value="2XL" class="load-animate text-xs relative ">
                    <div class="out-of-stock-marker absolute z-10" style="right:5%; bottom:10%;">
                      <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="15" height="15" viewBox="0 0 24 24" stroke="#f00f83" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"></path>
                      </svg>
                    </div>
                    <label data-active="ring-2 ring-magenta" class="ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium font-semibold uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm text-nowrap">
                      <input type="radio" value="41459711082557" name="test-size" class="peer sr-only" data-option-index="0" data-option-value="2XL">
                      <span class="peer-checked:border-transparent items-center flex justify-center peer-checked:bg-magenta-500 peer-checked:text-white peer-checked:hover:bg-pink-700 peer-checked:ring-2 peer-checked:ring-magenta-500 peer-checked:ring-offset-2 border-transparent pointer-events-none absolute -inset-px rounded-md" aria-hidden="true"></span>
                      <span class="option-value relative peer-checked:text-white">
                        <del class="out-of-stock-marker">2XL</del>
                        <div class="in-stock-marker">2XL</div>
                      </span>
                    </label>
                  </div>
                  <div data-variant-id="41459711115325" data-option-value="3XL" class="load-animate text-xs relative ">
                    <div class="out-of-stock-marker absolute z-10" style="right:5%; bottom:10%;">
                      <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="15" height="15" viewBox="0 0 24 24" stroke="#f00f83" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"></path>
                      </svg>
                    </div>
                    <label data-active="ring-2 ring-magenta" class="ooption-value group relative flex items-center justify-center rounded-md border py-4 px-4 text-xs font-medium font-semibold uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm text-nowrap">
                      <input type="radio" value="41459711115325" name="test-size" class="peer sr-only" data-option-index="0" data-option-value="3XL">
                      <span class="peer-checked:border-transparent items-center flex justify-center peer-checked:bg-magenta-500 peer-checked:text-white peer-checked:hover:bg-pink-700 peer-checked:ring-2 peer-checked:ring-magenta-500 peer-checked:ring-offset-2 border-transparent pointer-events-none absolute -inset-px rounded-md" aria-hidden="true"></span>
                      <span class="option-value relative peer-checked:text-white">
                        <del class="out-of-stock-marker">3XL</del>
                        <div class="in-stock-marker">3XL</div>
                      </span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Selling Plans -->
          <div class="tw-text-xs tw-mt-4 load-animate"> Size out of stock? <a class="tw-text-magenta-500 out-of-stock-message2 klaviyo-bis-trigger" style="color:#f00f83 !important;" href="#">Click here</a> to get notified when it's back in stock </div>
          <!-- Add this hidden input with the product JSON data -->
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-shrink-0 justify-end px-6 py-6">
    <!-- Add to Cart Button -->
    <div class="grid grid-cols-4 w-full gap-2">
      <button id="atc-button" type="submit" class="load-animate add-to-cart-button w-full bg-magenta-500 rounded-full text-white text-base font-semibold justify-center items-center flex py-3 col-span-3 missing-variants" style="bottom:0px; top:0px">
        <div id="add-to-cart-loaded" class="pointer-events-none button-text">Please Select Size </div>
        <div id="add-to-cart-loading" class="pointer-events-none w-full absolute flex justify-center loading-button-loader items-center h-full" style="display:none;">
          <svg class="loading-ele-outer h-6 w-6" viewBox="25 25 50 50">
            <circle class="loading-ele-inner" style="stroke: white;" cx="50" cy="50" r="20" fill="none" stroke-width="4"></circle>
          </svg>
        </div>
      </button>
      <div id="quantity-selector" class="load-animate cols-span-1 rounded-full px-2.5 py-2">
        <div id="" class="decrement qs">-</div>
        <div id="" class=" quantity qs">1</div>
        <div id="" class="increment qs">+</div>
      </div>
    </div>
  </div>
</form>