<div id="sas-atc-button" class="button w-full col-span-4">
 <span class="sas-button-selected">
  Add Subscription to cart
 </span>
 <span class="sas-button-no-pants">
  please select pants size
 </span>
 <span class="sas-button-no-socks">
  please select a sock size
 </span>
  
</div>