      <div id="gs-wrapper" class="relative my-0 mx-auto max-w-[100rem]">
        <div id="gs-image" class="md:hidden relative">
             <img src="https://cdn.shopify.com/s/files/1/0353/7249/files/Background_a505ca5f-d51a-4b2a-a924-7e33fd337343.jpg?v=1733392269;width=2000" alt="" srcset="https://cdn.shopify.com/s/files/1/0353/7249/files/Background_a505ca5f-d51a-4b2a-a924-7e33fd337343.jpg?v=1733392269;width=200 200w, https://cdn.shopify.com/s/files/1/0353/7249/files/Background_a505ca5f-d51a-4b2a-a924-7e33fd337343.jpg?v=1733392269;width=300 300w, https://cdn.shopify.com/s/files/1/0353/7249/files/Background_a505ca5f-d51a-4b2a-a924-7e33fd337343.jpg?v=1733392269;width=400 400w, https://cdn.shopify.com/s/files/1/0353/7249/files/Background_a505ca5f-d51a-4b2a-a924-7e33fd337343.jpg?v=1733392269;width=600 600w, https://cdn.shopify.com/s/files/1/0353/7249/files/Background_a505ca5f-d51a-4b2a-a924-7e33fd337343.jpg?v=1733392269;width=800 800w, https://cdn.shopify.com/s/files/1/0353/7249/files/Background_a505ca5f-d51a-4b2a-a924-7e33fd337343.jpg?v=1733392269;width=1000 1000w, https://cdn.shopify.com/s/files/1/0353/7249/files/Background_a505ca5f-d51a-4b2a-a924-7e33fd337343.jpg?v=1733392269;width=1200 1200w, https://cdn.shopify.com/s/files/1/0353/7249/files/Background_a505ca5f-d51a-4b2a-a924-7e33fd337343.jpg?v=1733392269;width=1400 1400w, https://cdn.shopify.com/s/files/1/0353/7249/files/Background_a505ca5f-d51a-4b2a-a924-7e33fd337343.jpg?v=1733392269;width=1600 1600w, https://cdn.shopify.com/s/files/1/0353/7249/files/Background_a505ca5f-d51a-4b2a-a924-7e33fd337343.jpg?v=1733392269;width=1800 1800w" width="2000" height="1406">
                <div class="absolute w-[50%] top-10 left-1/2 transform -translate-x-1/2">
                  <div class="w-full h-full relative">
                      <img class="h-full  w-full z-10" src="https://cdn.shopify.com/s/files/1/0353/7249/files/SpeechBubble.svg?v=1733392178">
                      <img class="absolute h-full w-full z-20 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 p-2" src="https://cdn.shopify.com/s/files/1/0353/7249/files/SpeechBubbleText.svg?v=1733392178">
                  </div>
                </div>
                <div class="absolute w-[50%] bottom-10 left-1/2 transform -translate-x-1/2 z-10">
                  <div class="w-full h-full relative">
                      <img class="h-full  w-full z-10" src="https://cdn.shopify.com/s/files/1/0353/7249/files/WhiteText.svg?v=1733392178">
                  </div>
                </div>
        </div>


    <div id="gs-content" class="flex h-full w-full flex-col justify-center md:grid md:grid-cols-2 relative ">
      
          
      <div id="gs-inner-content" class="flex  gap-2 items-center md:sticky md:top-32 justify-center w-full md:max-h-[calc(100vh-198px)]">
        <div class="left-handside w-full max-w-[500px]">
          <h1 class="px-5 py-2 text-2xl md:text-4xl uppercase  mx-auto font-semibold marujo pt-2 md:pt-0">Oddballs Discount Selector</h1>
            <div id="title" class="px-5 py-2 text-md md:text-lg  mx-auto font-semibold">
              <svg class="circular-loader inline w-4 h-4" viewBox="25 25 50 50">
                    	<circle class="loader-path inline mr-2" stroke="#f00f83" cx="50" cy="50" r="20" fill="none" stroke-width="4"></circle>
                      </svg>
                       finding you the best deals!</div>

          <div class="py-2 px-6">
            <h6 class="text-md  font-semibold load-animate ">1. Who you shopping for?</h6>
            <div id="gs-department-selection" class="department-mens relative grid grid-cols-3 rounded-full bg-gray-200 text-center gap-2 text-white py-2 load-animate">
                <button id="gs-mens" class="active-selection w-full z-10 gs-department-selector font-bold text-black "  data-department="mens">Mens</button>
                <button id="gs-womens" class="w-full border-x border-solid border-white z-10 font-bold text-black gs-department-selector" data-department="ladies">Womens</button>
                <button id="gs-kids" class="w-full z-10 gs-department-selector font-bold text-black" aria-controls="gs-kids-product-category" data-department="kids">Kids</button>
                <div id="gs-department-slider" class="absolute w-1/3 h-full py-1 px-2">
                    <div class="rounded-full w-full h-full bg-white"></div>
                </div> 
            </div>
          </div>

          <div class="py-2 px-6">
            <h6 class="text-md  font-semibold load-animate">2.What kind of products are you looking for?</h6>
            <div id="gs-product-category" style="display: block;">
                <div id="gs-mens-product-category" class="min-h-24 grid grid-cols-4 gs-category  gap-1 overflow-hidden focus:outline-none boreder-2 border-magenta border-solid load-animate p-1">
                    <button class="gs-product-category-selector  flex flex-col uppercase border-2 border-solid font-bold rounded-md 1 p-1 relative" data-category="underwear">
                      <img src="https://cdn.shopify.com/s/files/1/0353/7249/files/Mens.svg?v=1733392178">
                      <div class="text-xxs lg:text-xs text-center w-full">Underwear</div>
                      </button>
                    <button class="gs-product-category-selector  flex flex-col uppercase border-2 border-solid font-bold rounded-md 1 p-1 relative"  data-category="socks">
                      <img src="https://cdn.shopify.com/s/files/1/0353/7249/files/Socks.svg?v=1725348785">
                      <div class="text-xxs lg:text-xs text-center w-full">Socks</div> 
                    </button>
                    <button class="gs-product-category-selector  flex flex-col uppercase border-2 border-solid font-bold rounded-md 1 p-1 relative"  data-category="clothing">
                      <img src="https://cdn.shopify.com/s/files/1/0353/7249/files/Clothing.svg?v=1733392178">
                      <div class="text-xxs lg:text-xs text-center w-full">Clothing</div>
                    </button>
                    <button class="gs-product-category-selector  flex flex-col uppercase border-2 border-solid font-bold rounded-md 1 p-1 relative" data-category="accessories">
                      <img src="https://cdn.shopify.com/s/files/1/0353/7249/files/Accessories.svg?v=1733392178">
                      <div class="text-xxs lg:text-xs text-center w-full">Accesories</div>
                    </button>
                </div>
            </div>
          </div>

          <div class="py-2 px-6">
          <h6 id="product-kind" class="text-md pb-1  font-semibold load-animate ">3. What kind of products are you looking for? </h6>
            <div id="gs-product-type" class=" load-anime" >
              <div id="product-type-options" class="gs-product-type min-h-12 w-full border-solid border-gray-200 bg-gray-200 p-2 rounded-md relative pb-3 overflow-hidden">
                  <div class="swiper-wrapper ">
                      <!-- Slides will be inserted here dynamically -->
                  </div>
                  <div class="swiper-pagination"></div>
              </div>
            </div>
          </div>
          
          <div id="sizes" class="px-4">
              <div id="gs-pants-size" class="pt-2" >
                 
              </div>     
          </div>
          <div id="mobile-results-container" class="px-4 flex flex-col py-4 shadow-lg hidden md:hidden">
            
            <div id="gs-results-div" class="px-2 py-2 gs-results-div flex items-center"></div>
            <!-- <div class="hidden md:hidden bg-magenta px-4 py-2 rounded-full text-center shadow-lg uppercase font-semibold text-white see-results">See Results </div> -->
            <div id="mobile-results" class="mobile-results md:hidden"></div>
            </div>
        </div>
          </div>
      <div class="right-hand-side sticky">
      <div class="w-full h-full hidden md:block relative">
        <div id="gs-desktop-image" class="relative">
                <img src="https://cdn.shopify.com/s/files/1/0353/7249/files/Background_a505ca5f-d51a-4b2a-a924-7e33fd337343.jpg?v=1733392269;width=2000" alt="" srcset="https://cdn.shopify.com/s/files/1/0353/7249/files/Background_a505ca5f-d51a-4b2a-a924-7e33fd337343.jpg?v=1733392269;width=200 200w, https://cdn.shopify.com/s/files/1/0353/7249/files/Background_a505ca5f-d51a-4b2a-a924-7e33fd337343.jpg?v=1733392269;width=300 300w, https://cdn.shopify.com/s/files/1/0353/7249/files/Background_a505ca5f-d51a-4b2a-a924-7e33fd337343.jpg?v=1733392269;width=400 400w, https://cdn.shopify.com/s/files/1/0353/7249/files/Background_a505ca5f-d51a-4b2a-a924-7e33fd337343.jpg?v=1733392269;width=600 600w, https://cdn.shopify.com/s/files/1/0353/7249/files/Background_a505ca5f-d51a-4b2a-a924-7e33fd337343.jpg?v=1733392269;width=800 800w, https://cdn.shopify.com/s/files/1/0353/7249/files/Background_a505ca5f-d51a-4b2a-a924-7e33fd337343.jpg?v=1733392269;width=1000 1000w, https://cdn.shopify.com/s/files/1/0353/7249/files/Background_a505ca5f-d51a-4b2a-a924-7e33fd337343.jpg?v=1733392269;width=1200 1200w, https://cdn.shopify.com/s/files/1/0353/7249/files/Background_a505ca5f-d51a-4b2a-a924-7e33fd337343.jpg?v=1733392269;width=1400 1400w, https://cdn.shopify.com/s/files/1/0353/7249/files/Background_a505ca5f-d51a-4b2a-a924-7e33fd337343.jpg?v=1733392269;width=1600 1600w, https://cdn.shopify.com/s/files/1/0353/7249/files/Background_a505ca5f-d51a-4b2a-a924-7e33fd337343.jpg?v=1733392269;width=1800 1800w" width="2000" height="1406">
                <div class="absolute w-[50%] top-28 md:top-10 lg:top-14 xl:top-28 left-1/2 transform -translate-x-1/2">
                  <div class="w-full h-full relative">
                      <img class="h-full  w-full z-10" src="https://cdn.shopify.com/s/files/1/0353/7249/files/SpeechBubble.svg?v=1733392178">
                      <img class="absolute h-full w-full z-20 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 p-6" src="https://cdn.shopify.com/s/files/1/0353/7249/files/SpeechBubbleText.svg?v=1733392178">
                  </div>
                </div>
                <div class="absolute w-[50%] bottom-10 left-1/2 transform -translate-x-1/2 z-10">
                  <div class="w-full h-full relative">
                      <img class="h-full  w-full z-10" src="https://cdn.shopify.com/s/files/1/0353/7249/files/WhiteText.svg?v=1733392178">
                  </div>
                </div>
          </div>
        <div class="w-full gs-results-div px-2 py-2 see-results hidden">Select a category for results</div>
        <div id="desktop-results" class="w-full grid md:grid-cols-2 xl:grid-cols-3  gap-2 relative hidden">
          
        </div>
       
      </div>
      </div>
    
  </div>
        </div>
<div id="gs-bottom-line" style="height:1px;"></div>    
<style>
  #gs-product-type .active-selection,
  #sizes .active-selection,
  #gs-product-category .active-selection{
    background-color: #f00f83;
    color: white;
    font-weight: bold;
    border: 1px solid white;
    outline: 2px solid #f00f83;
    outline-offset: 1px;
    animation: fadeInBorder 0.5s forwards; /* Apply the animation */
    pointer-events: none;
  }

  @keyframes fadeInBorder {
  0% {
    border-color: transparent;
    outline-color: transparent;
  }
  100% {
    border-color: white; /* Final border color */
    outline-color: #f00f83; /* Final outline color */
  }
}

 .active-selection.gs-product-category-selector img {filter: brightness(0) invert(1);}
  

  #gs-department-slider {
      transition: transform 0.5s ease;
  }
  
  .department-ladies #gs-department-slider {
      transform: translateX(100%); /* Slide the element 100% to the right */
  }
  
  .department-kids #gs-department-slider {
      transform: translateX(200%); /* Reset to its original position */
  }

  .disabled{
    opacity: 40%;
    pointer-events: none;
  }

  #gs-desktop-image::before,
  #gs-image::before{
     content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 45%; /* Adjust width as needed */
    height: 100%;
    background-image: url('https://cdn.shopify.com/s/files/1/0353/7249/files/Model-2.png?v=1733392232');
    background-size: contain; /* Ensure the image is contained within the element */
    background-position: left bottom; /* Center the image on the left side */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    z-index: 1;
  }
  
  #gs-desktop-image::after,
  #gs-image::after{
     content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 45%; /* Adjust width as needed */
    height: 100%;
    background-image: url('https://cdn.shopify.com/s/files/1/0353/7249/files/Model-1.png?v=1733392232');
    background-size: contain; /* Ensure the image is contained within the element */
    background-position: left bottom; /* Center the image on the left side */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    z-index: 1;
  }

/* scrollbar */
::-webkit-scrollbar{
    height: 4px;
    width: 4px;
    background: gray;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

::-webkit-scrollbar-thumb:horizontal{
    background: #000;
    border-radius: 10px;
}

product-type-options {
    position: relative;
    overflow: hidden;
}

.swiper-slide {
    width: auto; /* Let the slides be as wide as their content */
}

.swiper-pagination {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.swiper-pagination-progressbar {
    background: rgba(0,0,0,0.1);
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #f00f83;
    bottom: 0px !important;
}

.swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal{
  bottom: 0px !important;
  top: 95% !important;
}
</style>