<!-- 
    <div class="media-content media-content--width-full media-content--align-right spacer--size-none">
      
      <div class="media-content__wrapper">
        <div class="media-content__media aspect-[1/1] md:aspect-[7/5]">
          <a class="w-full h-full inline-block" href="#">
            <picture>
              <img class="object-cover object-top" src="img/hero.webp" alt="" />
            </picture>
          </a>
        </div>
        <div class="media-content__body">
          <div class="flex-1">
            <p class="typography--body-md mb-1">UP TO 60% OFF</p>
            <h2 class="typography--title-three mb-4"><span>SUMMER BEST SELLERS</span></h2>
            <div class="button-group">
              <a class="button button--size-md button--variant-outline" href="#">SHOP NOW</a>
            </div>
          </div>
        </div>
      </div>
    </div> -->


<!--
    <div class="overflow-hidden wrapper m-auto wrapper--size-full py-10 lg:pt-14 captioned-image">
      <div class="swiper swiper-collections">
        <div class="swiper-wrapper">
          <div class="swiper-slide w-full relative">
            <div class="captioned-image__caption">
              <a class="captioned-image__item" href="#">
                <picture>
                  <img class="captioned-image__image" src="img/swim_shorts.webp" alt="" />
                </picture>
                <div class="captioned-image__caption"><p class="typography font-semibold">Swim Shorts</p></div>
              </a>
            </div>
          </div>
          <div class="swiper-slide w-full relative">
            <div class="captioned-image__caption">
              <a class="captioned-image__item" href="#">
                <picture>
                  <img class="captioned-image__image" src="img/towels.webp" alt="" />
                </picture>
                <div class="captioned-image__caption"><p class="typography font-semibold">Towels</p></div>
              </a>
            </div>
          </div>
          <div class="swiper-slide w-full relative">
            <div class="captioned-image__caption">
              <a class="captioned-image__item" href="#">
                <picture>
                  <img class="captioned-image__image" src="img/summer_underwear.webp" alt="" />
                </picture>
                <div class="captioned-image__caption"><p class="typography font-semibold">Summer Underwear</p></div>
              </a>
            </div>
          </div>
          <div class="swiper-slide w-full relative">
            <div class="captioned-image__caption">
              <a class="captioned-image__item" href="#">
                <picture>
                  <img class="captioned-image__image" src="img/ankle_socks.webp" alt="" />
                </picture>
                <div class="captioned-image__caption"><p class="typography font-semibold">Ankle Socks</p></div>
              </a>
            </div>
          </div>
          <div class="swiper-slide w-full relative">
            <div class="captioned-image__caption">
              <a class="captioned-image__item" href="#">
                <picture>
                  <img class="captioned-image__image" src="img/sportswear.webp" alt="" />
                </picture>
                <div class="captioned-image__caption"><p class="typography font-semibold">Sports Wear</p></div>
              </a>
            </div>
          </div>
          <div class="swiper-slide w-full relative">
            <div class="captioned-image__caption">
              <a class="captioned-image__item" href="#">
                <picture>
                  <img class="captioned-image__image" src="img/caps.webp" alt="" />
                </picture>
                <div class="captioned-image__caption"><p class="typography font-semibold">Caps</p></div>
              </a>
            </div>
          </div>
          <div class="swiper-slide w-full relative">
            <div class="captioned-image__caption">
              <a class="captioned-image__item" href="#">
                <picture>
                  <img class="captioned-image__image" src="img/wash_bags.webp" alt="" />
                </picture>
                <div class="captioned-image__caption"><p class="typography font-semibold">Wash Bags</p></div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    -->
    <!--
    <div class="image-banner image-banner--size-large">
      <a class="image-banner__media" href="#">
        <picture>
          <source media="(min-width: 576px)" srcset="img/banner_desktop.webp" />
          <img src="img/banner_mobile.webp" alt="" />
        </picture>
      </a>
      <div class="image-banner__content pointer-events-none items-center justify-center sm:items-center sm:justify-center text-text-on-default">
        <div class="max-w-max flex flex-col pointer-events-auto text-center items-center justify-center sm:text-center sm:items-center sm:justify-center">
          <h2 class="typography typography--heading-three mb-4"><span>BEST SELLERS</span></h2>
          <div class="button-group sm:text-center sm:items-center sm:justify-center text-center items-center justify-center">
            <a class="button button--size-md button--variant-outline button--color-secondary" href="#">SHOP NOW</a>
          </div>
        </div>
      </div>
    </div> 
    -->
    <!--
    <div class="tiles tiles--items-2 spacer--size-xs tiles--aspect-ratio-7/5 py-14">
      <div class="tiles__wrapper wrapper">
        <div class="tile tile--size-lg tile--content-placement-inside tile--aspect-ratio-7/5 md:!col-span-6 block">
          <a class="tile__image" href="#">
            <picture>
              <img class="object-cover object-top" src="img/tile_1.webp" alt="" />
            </picture>
          </a>
          <div class="tile__content tile__content--left">
            <a class="typography text-text-on-default" href="#">
              <h2 class="typography--title-four">4 FOR £36</h2>
            </a>
            <div class="tile__actions">
              <a class="button button--color-secondary" href="#">SHOP NOW</a>
            </div>
          </div>
        </div>
        <div class="tile tile--size-lg tile--content-placement-inside tile--aspect-ratio-7/5 md:!col-span-6 block">
          <a class="tile__image" href="#">
            <picture>
              <img class="object-cover object-top" src="img/tile_2.webp" alt="" />
            </picture>
          </a>
          <div class="tile__content tile__content--left">
            <a class="typography text-text-on-default" href="#">
              <h2 class="typography--title-four">NEW ARRIVALS</h2>
            </a>
            <div class="tile__actions">
              <a class="button button--color-secondary" href="#">SHOP NOW</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  -->
  <!--
    <div class="bg-gray-100 py-10 text-center">
      <h2 class="typography--title-five uppercase px-4 mb-8">We make jointly branded underwear for some of the world's biggest brands</h2>
      <div class="brands-carousel">
        <a href="#">
          <img class="w-44 h-44 border border-black border-opacity-60  rounded-md" src="img/brands/1.avif" alt="" />
        </a>
        <a href="#">
          <img class="w-44 h-44 border border-black border-opacity-60  rounded-md" src="img/brands/2.avif" alt="" />
        </a>
        <a href="#">
          <img class="w-44 h-44 border border-black border-opacity-60  rounded-md" src="img/brands/3.avif" alt="" />
        </a>
        <a href="#">
          <img class="w-44 h-44 border border-black border-opacity-60  rounded-md" src="img/brands/4.avif" alt="" />
        </a>
        <a href="#">
          <img class="w-44 h-44 border border-black border-opacity-60  rounded-md" src="img/brands/5.avif" alt="" />
        </a>
        <a href="#">
          <img class="w-44 h-44 border border-black border-opacity-60  rounded-md" src="img/brands/6.avif" alt="" />
        </a>
        <a href="#">
          <img class="w-44 h-44 border border-black border-opacity-60  rounded-md" src="img/brands/7.avif" alt="" />
        </a>
        <a href="#">
          <img class="w-44 h-44 border border-black border-opacity-60  rounded-md" src="img/brands/8.avif" alt="" />
        </a>
        <a href="#">
          <img class="w-44 h-44 border border-black border-opacity-60  rounded-md" src="img/brands/9.avif" alt="" />
        </a>
        <a href="#">
          <img class="w-44 h-44 border border-black border-opacity-60  rounded-md" src="img/brands/10.avif" alt="" />
        </a>
        <a href="#">
          <img class="w-44 h-44 border border-black border-opacity-60  rounded-md" src="img/brands/11.avif" alt="" />
        </a>
        <a href="#">
          <img class="w-44 h-44 border border-black border-opacity-60  rounded-md" src="img/brands/12.avif" alt="" />
        </a>
      </div>
      
    </div> -->


{% schema %}
  {
    "name": "ob index",
    "settings": []
  }
{% endschema %}