<div id="product_reviews_section" class="blend-divide js-ptab-target" data-target="product-reviews" style="transform: translateY(50px);">
  <div class="max-w-7xl mx-auto px-5 md:px-10">   
    <a class="bg-gray-100 rounded-md pt-6 px-5 md:px-0 block" href="/pages/testimonials">
  
      <div class="text-xl text-gray-800 text-center font-semibold pb-5">See our brand reviews on Trustpilot...</div>
  
  
      <!-- TrustBox widget - Mini -->
      <div class="trustpilot-widget" data-locale="en-GB" data-template-id="53aa8807dec7e10d38f59f32" data-businessunit-id="5c7f9459871dac0001ea0238" data-style-height="150px" data-style-width="100%" data-theme="light">
       
      </div>
      <!-- End TrustBox widget -->          
        
    </a>  
      
    <div class="bg-gray-100 rounded-md py-6 mt-5 mb-6 px-5 md:px-0">
      <div class="text-xl text-gray-800 text-center font-semibold pb-5">Reviews of this product</div>
  
  
      <!-- TrustBox widget - Product Reviews SEO -->
      <div class="trustpilot-widget" data-locale="en-GB" data-reviewnumber="3" data-maxwidth="1200px" data-template-id="5717796816f630043868e2e8" data-businessunit-id="5c7f9459871dac0001ea0238" data-style-height="930px" data-style-width="100%" data-theme="light" data-sku='{{ product.variants | map: 'sku' | join: ',' }}' data-name="{{ product.title }}" data-review-languages="en">
      <a href="https://uk.trustpilot.com/review/myoddballs.com" target="_blank" rel="noopener">Trustpilot</a>
      </div>
      <!-- End TrustBox widget -->
    </div>
  </div>
</div>           
<!-- TrustBox script -->
<script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
<!-- End TrustBox script -->
{% schema %}
  {
    "name": "Product Tabs Content",
    "class": "hidden",
    "settings": [],
    "presets": [
       {
         "name": "Product Tabs Content",
         "settings": {
          
          }
       }
     ]    
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}