{% schema %}
{
  "name": "size-guide-2025",
  "presets": [
    {
      "name": "size-guide-2025"
    }
  ]
}
{% endschema %}
<div id="size-guide-wrapper">
  <div class="flex justify-center">

    <div id="size-guide-options" class="grid grid-cols-4">
      <div class="size-guide-option">Mens</div>
      <div class="size-guide-option">Womens</div>
      <div class="size-guide-option">Kids</div>
      <div class="size-guide-option">Accessories</div>
    </div>
  </div>
      
</div>