{% schema %}
  {
    "name": "Vodafone Difference",
    "presets": [{"name":"Vodafone Difference"}],
    "settings": [
      {"type": "text","id": "header","label": "Header"},
      {"type": "textarea","id": "body","label": "Body"},
      {"type": "image_picker","id": "image","label": "Image"},
    ]
  }
{% endschema %}

<div class="md:grid grid-cols-2">
  <div class="flex items-center text-center justify-center">
    <div class="max-w-xl">
      <div class="font-bold text-xl md:text-2xl">
        {{ section.settings.header }}
      </div>
      <div class="mt-4 px-4 md:text-xl">
        {{ section.settings.body }}
      </div>
    </div>
  </div>
  <div class="flex items-center text-center justify-center">
    <div class="max-w-xl p-12">
      <img
        class=""
        src="{{ section.settings.image | image_url: width: 2000 }}"
        alt="Vodafone 25 Desktop"
      >
    </div>
  </div>
  
</div>