{% schema %}
  {
    "name": "Vodafone-25-shape-1",
    "presets": [{"name":"Vodafone-25-shape-1"}],
    "settings": []
  }
{% endschema %}

<div class="angled-shape-1"></div>

<style>
.angled-shape-1 {
  height: 100px;
  background-color: #33c2e3;
  clip-path: polygon(0 60%, 100% 0, 100% 100%, 0% 100%);
  transform: rotate3d(1, 153, 0, 180deg);
}
</style>
