.slider-slider{
    position: absolute;
    width:33%;
    height:100%;
    z-index: 1;
    border-radius: 999999px;
    background-color: #f00f83;
    transition:all 0.3s ease
}
.selection-slider:has(input[value="mens"]:checked){
    .mens-selector{
        color:white
    }
    .slider-slider {
        transform: translateX(0%);
    }
}
.size-option{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dbd7d7;
    border-radius:0.305rem;
    padding: 1rem;
}
.selection-slider:has(input[value="womens"]:checked){
    .womens-selector{
        color:white
    }
    .slider-slider {
        transform: translateX(100%);
    } 
}
.selection-slider:has(input[value="kids"]:checked){
.kids-selector{
        color:white
    }
    .slider-slider {
        transform: translateX(200%);
    }
}
.type-choice{
    border-radius:0.305rem;
}
.type-choice:has(input:checked){
    background-color:#f00f83;
    color:white;
    border: 2px solid white;
    outline: 2px solid #f00f83;
    img{
        filter: brightness(0) invert(1);
    }
}
.size-option:has(input:checked){
    background-color:#f00f83;
    color:white;
    border: 2px solid white;
    outline: 2px solid #f00f83;
}
.adult-sizes{
    display: none;
}
.kids-sizes{
    display: none;
}
.selection-outer-wrapper:has(.adult-category-input:checked) .adult-sizes{
    display: grid;
}
.selection-outer-wrapper:has(.kids-category-input:checked) .kids-sizes{
    display: grid;
}
.add-another-cta{
    pointer-events:none;
    background-color: azure;
    color: black;
}
.find-pairs-cta{
    pointer-events: none;
    background-color: azure;
    color: black;
}
.selection-outer-wrapper:has(.kids-category-input:checked) .selection-inner-wrapper:has(.kids-size-input:checked){
    .add-another-cta{
        background-color: aqua;
        color: white;
        pointer-events:auto;
    }
    .find-pairs-cta{
        pointer-events: auto;
        background-color: #f00f83;
        color:white;
    }
}
.selection-outer-wrapper:has(.adult-category-input:checked) .selection-inner-wrapper:has(.adult-size-input:checked){
    .add-another-cta{
        background-color: aqua;
        color: white;
        pointer-events:auto;
    }
    .find-pairs-cta{
        pointer-events: auto;
        background-color: #f00f83;
        color:white;
    }
}



