<script type="text/javascript" src="{{'ob-cart.js'| asset_url}}" defer></script>
<div id="cart-header" class="popup-header text-center flex items-center justify-between text-lg">
  <div>Cart</div>
  <div class="product-page-safety-screen">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line x1="4.93" y1="4.93" x2="19.07" y2="19.07" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"> </line>
      <line x1="19.07" y1="4.93" x2="4.93" y2="19.07" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"> </line>
    </svg>
  </div>
</div>
<div id="cart-progress-bar" {{ cart.items.size }} class="{% unless cart.items.size > 0 %} hidden {% endunless %}">
  {% render 'cart-progress-bar' %}
</div>
<div id="cart-content" class="popup-content overflow-x-auto" style="padding-bottom:18vh; max-height:80vh;">
  <div id="cart-items" class="scroll-shadows">
    {% render 'ob-cart-items' %}
  </div>
  <div class="w-full justify-center items-center px-4 py-2 fixed bottom-0 bg-white border-slate-200 border-solid border-t" style="max-height:18vh;">
    <div id="cart-values" class="pb-2">
      <div id="cart-order-value-wrapper" class="text-sm flex justify-between">
        <div>Order Value:</div>
        <div id="cart-order-value"></div>
      </div>
      <div id="cart-savings-wrapper" class="text-sm flex justify-between">
        <div>Cart Savings:</div>
        <div class="flex">
          -
          <div id="cart-savings"></div>
        </div>
      </div>
      <div class="flex justify-between font-bold">
        Subtotal:
        <div><div id="cart-subtotal" class="text-magenta-500 font-bold"></div></div>
      </div>
/en-eu
      <div id="checkout-button" class="bg-magenta-500 text-white rounded-full w-full py-1 text-center">
        <a href="{%- render 'ob-process-international-link', url: '/checkout' -%}" oldhref="/checkout" class="w-full h-full">Checkout</a>
      </div>
    </div>
  </div>
</div>
