{% layout none %}

{% for product in collection.products %}
  {%- comment %}<locksmith:7b5d>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collection, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
  {%- comment %}</locksmith:7b5d>{% endcomment -%}
  {% if product.available %}
    <div id="product-json">
      {{ product.handle}}
    </div>
    {% break %}
  {% endif %}
{% endfor %}