hello
<script src="{{ 'perfect-pairjamas.js' | asset_url }}" defer="defer"></script>
<link rel="stylesheet" href="{{ 'perfect-pairjamas.css' | asset_url }}">
<div id="form-loc">

</div>
<div id="current-form-loc">

</div>

<div style="max-width: 400px;" class="grid grid-cols-4" id="prints-loc">

</div>
<div style="max-width: 400px;" class="grid grid-cols-3" id="selected-prods">
    <div id="mens-prod">
        Mens
        <img  class="w-full"/>
        <div class="title"></div>
        <div class="sizes"></div>
    </div>
    <div id="womens-prod">
        womens
        <img  class="w-full"/>
        <div class="title"></div>
        <div class="sizes"></div>
    </div>
    <div id="kids-prod">
        kids
        <img  class="w-full"/>
        <div class="title"></div>
        <div class="sizes"></div>
    </div>
    <div class="col-span-2" id="add-pairjamas-to-cart">
        add to cart
    </div>
</div>

<div class="section-template selection-outer-wrapper" style="max-width:40rem; display:none;">
    <div class="selection-inner-wrapper">


    <div class="selection-intro-text">
        <span class="pair-number">1st</span> pair
        <div> what kind of pyjamas we want?</div>
    </div>
    <div  class="selection-slider grid grid-cols-3 relative">
        <label class="mens-selector py-2 active w-full text-center">
            <input checked class="hidden category-input adult-category-input" type="radio" value="mens" name="selection-choice" />
            Men
        </label>
        <label class="womens-selector py-2 active w-full text-center">
            <input class="hidden category-input adult-category-input" type="radio" value="womens" name="selection-choice" />
            Women
        </label>
        <label class="kids-selector py-2 active w-full text-center">
            <input class="hidden category-input kids-category-input" type="radio" value="kids" name="selection-choice" />
            Kids
        </label>
        <div class="slider-slider">

        </div>

    </div>
    <div class="type-selector">
        <div class="grid grid-cols-2">
            <label class="w-full type-choice">
                <input checked class="hidden type-input" type="radio" value="long" name="type-choice" />
                long
            </label>
            <label class="w-full type-choice">
                <input class="hidden type-input" type="radio" value="short" name="type-choice" />
                Short
            </label>
        </div>

    </div>
    <div class="grid grid-cols-4 adult-sizes" >
        <label class="size-option">
            <input name="size" value="Small" type="radio" class="hidden size-input adult-size-input" />
            small
        </label>
        <label class="size-option">
            <input name="size" value="Medium" type="radio" class="hidden size-input adult-size-input" />
            medium
        </label>
        <label class="size-option">
            <input name="size" value="Large" type="radio" class="hidden size-input adult-size-input" />
            large
        </label>
        <label class="size-option">
            <input name="size" value="XL" type="radio" class="hidden size-input adult-size-input" />
            XL
        </label>
        <label class="size-option">
            <input name="size" value="2XL" type="radio" class="hidden size-input adult-size-input" />
            2XL
        </label>
        <label class="size-option">
            <input name="size" value="3XL" type="radio" class="hidden size-input adult-size-input" />
            3XL
        </label>

    </div>
    <div class="grid grid-cols-4 kids-sizes" >
        <label class="size-option">
            <input name="size" value="5-6 Yrs" type="radio" class="hidden size-input kids-size-input" />
            5-6yrs
        </label>
        <label class="size-option">
            <input name="size" value="6-7 Yrs" type="radio" class="hidden size-input kids-size-input" />
            6-7yrs
        </label>
        <label class="size-option">
            <input name="size" value="7-8 Yrs" type="radio" class="hidden size-input kids-size-input" />
            7-8yrs
        </label>
        <label class="size-option">
            <input name="size" value="9-10 Yrs" type="radio" class="hidden size-input kids-size-input" />
            9-10yrs
        </label>
        <label class="size-option">
            <input name="size" value="11-12 Yrs" type="radio" class="hidden size-input kids-size-input" />
            11-12yrs
        </label>

    </div>
    <div class="w-full text-center add-another-cta">
        add another
    </div>
    <div class="w-full text-center find-pairs-cta">
        find-pairs
    </div>

</div>
</div>