{% assign collection_handle = 'fpc' %}
{% assign page_handle = "faqs" %}
<div id="gift-slider">
  
   <div class="relative w-full">
    <!-- <a href="https://www.myoddballs.com/collections/fpc"> -->
    <img 
        src="https://cdn.shopify.com/s/files/1/0353/7249/files/GetAttachmentThumbnail.jpg?v=1747296244" 
        alt="Free Product Banner" 
        class=" w-full h-auto"
    />
   <!-- </a> -->
  </div>

</div>

<div class="page-content" id="offers">
  <h2 class="text-2xl py-6 marujo ">Free Product Offer </h2>
  <p>If you spend over £40.00 on one order, you can select ONE FREE PRODUCT to your order RRP £20.00. Select the products you want in the checkout when you have over £40.00 (there are plenty to choose from!). We cannot send the item out to you if it is not on the order confirmation.</p>

<p>You can mix and match any products as long as over £40.00 is spent on products after payment. (These prices exclude any shipping costs and discount codes you might apply).</p>

<p>You can't exchange the free products unless the fault lies with us. Please select the products and style you want in the cart section to claim the offer.</p>

<p>For random offers you can't pick the designs you want. We will send the item at random.</p>

<p class="">**Please note: discount codes cannot be used on custom products or subscriptions**</p>
<div class="rounded-full mt-5 mb-20 w-full py-2 bg-magenta text-white text-center mx-auto md:hidden popup-safety-screen-button uppercase font-semibold">Back to Cart</div>
</div>