
<div class="p-4 flex flex-col gap-4">

    <div class="marujo text-2xl">
        Fresh Pants Every Month!?    
    </div>
    <div>
        Never run out of comfy, funky Oddballs again! Our subscription selector makes stocking up easier than ever.
    </div>
    <div>
        ✅ Brand new design every month
        ✅ Free socks (Ankle socks in summer, crew socks in winter)*
        ✅ Exclusive Gifts
        ✅ Free UK Delivery on ALL Orders
        ✅ VIP Accsess to Early Releases and Sales
        ✅ Exclusive Discounts - Straight to your inbox
        ✅ No Tie-Ins - Pause or Cancel Anytime!
    </div>
    <div class="button button--secondary uppercase">
        Create My Subscription
    </div>
</div>