hello
<script src="{{ 'perfect-pairjamas.js' | asset_url }}" defer="defer"></script>
<link rel="stylesheet" href="{{ 'perfect-pairjamas.css' | asset_url }}">

<div class="selection-template-outer-wrapper" style="max-width:40rem;">
    <div class="selection-template-inner-wrapper">


    <div class="selection-intro-text">
        <span class="pair-number">1st</span> pair
        <div> what kind of pyjamas we want?</div>
    </div>
    <div  class="selection-slider grid grid-cols-3 relative">
        <label class="mens-selector py-2 active w-full text-center">
            <input checked class="hidden adult-size-input" type="radio" value="mens" name="selection-choice" />
            Men
        </label>
        <label class="womens-selector py-2 active w-full text-center">
            <input class="hidden adult-size-input" type="radio" value="womens" name="selection-choice" />
            Women
        </label>
        <label class="kids-selector py-2 active w-full text-center">
            <input class="hidden kids-size-input" type="radio" value="kids" name="selection-choice" />
            Kids
        </label>
        <div class="slider-slider">

        </div>

    </div>
    <div class="type-selector">
        <div class="grid grid-cols-2">
            <label class="w-full type-choice">
                <input checked class="hidden" type="radio" value="long" name="type-choice" />
                long
            </label>
            <label class="w-full type-choice">
                <input class="hidden" type="radio" value="short" name="type-choice" />
                Short
            </label>
        </div>

    </div>
    <div class="grid grid-cols-4 adult-sizes" >
        <label class="size-option">
            <input name="size" value="small" type="radio" class="hidden adult-option-input" />
            small
        </label>
        <label class="size-option">
            <input name="size" value="medium" type="radio" class="hidden adult-option-input" />
            medium
        </label>
        <label class="size-option">
            <input name="size" value="large" type="radio" class="hidden adult-option-input" />
            large
        </label>
        <label class="size-option">
            <input name="size" value="XL" type="radio" class="hidden adult-option-input" />
            XL
        </label>
        <label class="size-option">
            <input name="size" value="2XL" type="radio" class="hidden adult-option-input" />
            2XL
        </label>
        <label class="size-option">
            <input name="size" value="3XL" type="radio" class="hidden adult-option-input" />
            3XL
        </label>

    </div>
    <div class="grid grid-cols-4 kids-sizes" >
        <label class="size-option">
            <input name="size" value="5-6yrs" type="radio" class="hidden kids-option-input" />
            5-6yrs
        </label>
        <label class="size-option">
            <input name="size" value="6-7yrs" type="radio" class="hidden kids-option-input" />
            6-7yrs
        </label>
        <label class="size-option">
            <input name="size" value="7-8yrs" type="radio" class="hidden kids-option-input" />
            7-8yrs
        </label>
        <label class="size-option">
            <input name="size" value="9-10yrs" type="radio" class="hidden kids-option-input" />
            9-10yrs
        </label>
        <label class="size-option">
            <input name="size" value="11-12yrs" type="radio" class="hidden kids-option-input" />
            11-12yrs
        </label>

    </div>
    <div class="w-full text-center add-another-cta">
        add another
    </div>
    <div class="w-full text-center find-pairs-cta">
        find-pairs
    </div>

</div>
    </div>