{%layout none%}
<div class="p-4 flex flex-col gap-4">

    <div class="marujo text-2xl">
        Fresh Pants Every Month!?    
    </div>
    <div>
        Never run out of comfy, funky Oddballs again! Our subscription selector makes stocking up easier than ever.
    </div>
    <div>
        <div>✅ Brand new design every month</div>
        <div>✅ Free socks (Ankle socks in summer, crew socks in winter)*</div>
        <div>✅ Exclusive Gifts</div>
       <div> ✅ Free UK Delivery on ALL Orders</div>
        <div>✅ VIP Accsess to Early Releases and Sales</div>
        <div>✅ Exclusive Discounts - Straight to your inbox</div>
        <div>✅ No Tie-Ins - Pause or Cancel Anytime!</div>
    </div>
    <div class="button button--secondary uppercase bg-cyan-500">
        Create My Subscription
    </div>
    <div clas="close-subs-popup">No Thanks I like Wearing Boring Pants</div>
    <div class="relative overflow-hidden reasons-swiper-wrap">
        <div class="swiper info-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide flex flex-col justify-center items-center text-center h-32">
              <div><img src="https://cdn.shopify.com/s/files/1/0353/7249/files/Designs.svg?v=1722324793" alt="1. Fun Designs" class="w-24 h-24"></div>
              <div><h2 class="mx-auto text-lg marujo leading-none">Fun New<br>Designs</h2></div>
            </div>
            <div class="swiper-slide flex flex-col justify-center items-center text-center h-32">
              <div><img src="https://cdn.shopify.com/s/files/1/0353/7249/files/Socks-2.svg?v=1722324793" alt="2. Free Socks" class="w-24 h-24"></div>
              <div><h2 class="mx-auto text-lg marujo leading-none">Free<br>Socks</h2></div>
            </div>
            <div class="swiper-slide flex flex-col justify-center items-center text-center h-32">
              <div><img src="https://cdn.shopify.com/s/files/1/0353/7249/files/FreeDelivery.svg?v=1722324793" alt="3.Free Delivery" class="w-24 h-24"></div>
              <div><h2 class="mx-auto text-lg marujo leading-none">Free Delivery<br>On All Orders</h2></div>
            </div>
            <div class="swiper-slide flex flex-col justify-center items-center text-center h-32">
              <div><img src="https://cdn.shopify.com/s/files/1/0353/7249/files/ExclusiveGifts-2.svg?v=1722324793" alt="4.Exclusive Gifts" class="w-24 h-24"></div>
              <div><h2 class="mx-auto text-lg marujo leading-none">Exclusive<br>Gifts</h2></div>
            </div>
            <div class="swiper-slide flex flex-col justify-center items-center text-center h-32">
              <div><img src="https://cdn.shopify.com/s/files/1/0353/7249/files/VIP.svg?v=1722324793" alt="5.VIP Access" class="w-24 h-24"></div>
              <div><h2 class="mx-auto text-lg marujo leading-none">VIP<br>Access</h2></div>
            </div>
            <div class="swiper-slide flex flex-col justify-center items-center text-center h-32">
              <div><img src="https://cdn.shopify.com/s/files/1/0353/7249/files/Discounts-2.svg?v=1722324793" alt="6.Exclusive Discounts" class="w-24 h-24"></div>
              <div><h2 class="mx-auto text-lg marujo leading-none">Exclusive<br>Discounts</h2></div>
            </div>
          </div>
        </div>
      </div>
</div>