<script src="{{ 'perfect-pairjamas.js' | asset_url }}"></script>
<link rel="stylesheet" href="{{ 'perfect-pairjamas.css' | asset_url }}">
<div id="form-loc">

</div>
<div id="inital-stage">
    <div class=" flex items-center justify-center">

        <div class="first-stage-inner-wrapper md:flex">
            
            <div class="max-md:hidden relative" style="width:0px; flex-grow:1">
                <img style="width:100%;" height="300px" width="600px" src="https://cdn.shopify.com/s/files/1/0353/7249/files/Desktop-Banner_f0909149-40b6-47b8-b139-1d705d607521.webp?v=1759322257">
            </div>
            <div class="md:hidden">
                <img style="width:100%;" height="1000px" width="1000px" src="https://cdn.shopify.com/s/files/1/0353/7249/files/Mobile-banner_de447671-ee9c-472a-ba97-e34dcbc493fc.webp?v=1759322261">
            </div>
            <div style="max-width:400px; padding:1rem" id="current-form-loc">
                
            </div>
        </div>
    </div>
</div>



<div id="final-stage" style="max-width:400px;" class="hidden p-4">

    <div style="max-width: 400px;" class="grid grid-cols-3" id="selected-prods">
        <div id="mens-prod-short" class="flex flex-col items-center justify-center">
            Mens Shorts
            <img  class="w-full"/>
            <div class="swap-div"></div>
            <div class="title"></div>
            <div class="sizes"></div>
            <div class="price">
                <span class="prod-price text-magenta"></span>
                <del class="comp-price"></del>
            </div>
        </div>
        <div id="womens-prod-short" class="flex flex-col items-center justify-center">
            womens shorts
            <img  class="w-full"/>
            <div class="swap-div"></div>
            <div class="title"></div>
            <div class="sizes"></div>
            <div class="price">
                <span class="prod-price text-magenta"></span>
                <del class="comp-price"></del>
            </div>
        </div>
        <div id="kids-prod-short" class="flex flex-col items-center justify-center">
            kids shorts
            <img  class="w-full"/>
            <div class="swap-div"></div>
            <div class="title"></div>
            <div class="sizes"></div>
            <div class="price">
                <span class="prod-price text-magenta"></span>
                <del class="comp-price"></del>
            </div>
        </div>
        <div id="mens-prod-long" class="flex flex-col items-center justify-center">
            Mens long
            <img  class="w-full"/>
            <div class="swap-div"></div>
            <div class="title"></div>
            <div class="sizes"></div>
            <div class="price">
                <span class="prod-price text-magenta"></span>
                <del class="comp-price"></del>
            </div>
        </div>
        <div id="womens-prod-long" class="flex flex-col items-center justify-center">
            womens long
            <img  class="w-full"/>
            <div class="swap-div"></div>
            <div class="title"></div>
            <div class="sizes"></div>
            <div class="price">
                <span class="prod-price text-magenta"></span>
                <del class="comp-price"></del>
            </div>
        </div>
        <div id="kids-prod-long" class="flex flex-col items-center justify-center">
            kids long
            <img  class="w-full"/>
            <div class="swap-div"></div>
            <div class="title"></div>
            <div class="sizes"></div>
            <div class="price">
                <span class="prod-price text-magenta"></span>
                <del class="comp-price"></del>
            </div>
        </div>
        <div class="col-span-3">
            <div>
                Current Design is: <span id="current-design-name"></span> 
            </div>
        </div>
    </div>
    <div style="max-width: 400px;" class="grid grid-cols-4 gap-4" id="prints-loc">

    </div>
    <div id="set-price">
        set Price:
        <span id="set-total-price" class="text-magenta-500"></span>
        <span id="set-comp-price"></span>
    </div>
    <div class="col-span-2 w-full text-center bg-magenta-500 text-white rouned-full my-4 py-2 rounded-full" id="add-pairjamas-to-cart">
        add to cart
    </div>
</div>
    
<div class="section-template selection-outer-wrapper" style="max-width:40rem; display:none;">
    <div class="selection-inner-wrapper">


    <div class="selection-intro-text">
        <span class="pair-number">1st</span> pair
        <div> what kind of pyjamas we want?</div>
    </div>
    <div  class="selection-slider grid grid-cols-3 relative rounded-full" style="background: #f3f4f6;">
        <label class="mens-selector py-2 active w-full text-center z-10">
            <input checked class="hidden category-input adult-category-input" type="radio" value="mens" name="selection-choice" />
            Men
        </label>
        <label class="womens-selector py-2 active w-full text-center z-10">
            <input class="hidden category-input adult-category-input" type="radio" value="womens" name="selection-choice" />
            Women
        </label>
        <label class="kids-selector py-2 active w-full text-center z-10">
            <input class="hidden category-input kids-category-input" type="radio" value="kids" name="selection-choice" />
            Kids
        </label>
        <div class="slider-slider">

        </div>

    </div>
    <div class="type-selector py-4">
        <div class="font-bold">Select product length</div>
        <div class="grid grid-cols-4">
            <label class="w-full type-choice flex flex-col items-center justify-center">
                <input checked class="hidden type-input" type="radio" value="long" name="type-choice" />
                <div>
                    <img height="80px" width="80px" src="https://cdn.shopify.com/s/files/1/0353/7249/files/CottonPJs-Long.svg?v=1759313533" />
                </div>
                <div>long</div>
            </label>
            <label class="w-full type-choice flex flex-col items-center justify-center">
                <input class="hidden type-input" type="radio" value="short" name="type-choice" />
                <div>
                    <img height="80px" width="80px" src="https://cdn.shopify.com/s/files/1/0353/7249/files/CottonPJs-Short.svg?v=1759313536" />
                </div>
                <div>short</div>
            </label>
        </div>

    </div> 
    <div class="font-bold">
        Select size
    </div>
    <div class="grid grid-cols-4 gap-4 adult-sizes" >
        <label class="size-option">
            <input name="size" value="Small" type="radio" class="hidden size-input adult-size-input" />
            small
        </label>
        <label class="size-option">
            <input name="size" value="Medium" type="radio" class="hidden size-input adult-size-input" />
            medium
        </label>
        <label class="size-option">
            <input name="size" value="Large" type="radio" class="hidden size-input adult-size-input" />
            large
        </label>
        <label class="size-option">
            <input name="size" value="XL" type="radio" class="hidden size-input adult-size-input" />
            XL
        </label>
        <label class="size-option">
            <input name="size" value="2XL" type="radio" class="hidden size-input adult-size-input" />
            2XL
        </label>
        <label class="size-option">
            <input name="size" value="3XL" type="radio" class="hidden size-input adult-size-input" />
            3XL
        </label>

    </div>
    <div class="grid grid-cols-4 gap-4 kids-sizes" >
        <label class="size-option">
            <input name="size" value="5-6 Yrs" type="radio" class="hidden size-input kids-size-input" />
            5-6yrs
        </label>
        <label class="size-option">
            <input name="size" value="6-7 Yrs" type="radio" class="hidden size-input kids-size-input" />
            6-7yrs
        </label>
        <label class="size-option">
            <input name="size" value="7-8 Yrs" type="radio" class="hidden size-input kids-size-input" />
            7-8yrs
        </label>
        <label class="size-option">
            <input name="size" value="9-10 Yrs" type="radio" class="hidden size-input kids-size-input" />
            9-10yrs
        </label>
        <label class="size-option">
            <input name="size" value="11-12 Yrs" type="radio" class="hidden size-input kids-size-input" />
            11-12yrs
        </label>

    </div>
    <div id="button-container" class="py-4 flex flex-col gap-2">

        <div class="w-full text-center add-another-cta rounded-full py-2">
            add another
        </div>
        <div class="w-full text-center find-pairs-cta rounded-full py-2">
            find pairs
        </div>
    </div>

</div>
</div>